<div class="portfolio home-hero" style="height: 700px;">

	<div class="col-xs-12 col-sm-12 col-lg-12">

		<a href="img/gallery-1.jpg" title="My Caption 1" class="swipebox">

		<div class="large-square">

			<div class="hover-info" style="padding-left: 100px; bottom: 100px;">
        <h4 style="font-size: 16x; line-height: 22px !important; text-transform: none !important; text-align: left;  width: 80%;">
        	<span style="font-size: 60px; text-transform: uppercase;">
        		ABOUT</span>
          <br/>
          <br/>
          <span style="line-height: 36px; font-size: 20px;">
	          The Rise Up campaign is driven by the Black Men’s Health Challenge - the largest, most
						comprehensive study of Black men’s health in America. This historic effort to better understand
						the health challenges facing Black men has the potential to dramatically improve health
						outcomes and life expectancy for generations.Little research into the unique health needs and
						hurdles of Black men has been done. This disparity has resulted in significant education gaps
						and poor health outcomes across the community. Our aim is to change that. Here’s why. 
          </span>
        </h4>
        <span class="date-info"></span>
      </div>    

		</div>

		</a>

	</div>
</div>



<!-- bios for the doctors  BEHIND THE STUDY -->
<div class="inner-content bgcolor-white" id="services-content">

	<!-- <h6 class="gf_oswald upper text-primary text-normal ls1">
		an introduction
	</h6>
	 -->
	 <h3>HISTORY IN THE MAKING.</h3>

	<p>-insert VIDEO of interviews with Dr. Laveist & Dr. Thorpe that explains “Why now?”</p>
	<p>-insert social media share buttons</p>

	<hr/>
	
	<div class="separator"></div>

	<br/>
	<br/>
	<br/>
	<h3>Our Team of Medical Leaders</h3>

	<p>The Black Men’s Health Challenge is our chance to take a major step towards changing this trend.</span><p>The Black Men’s Health Challenge is led by Black men who are among the leading medical researchers in America, representing some of the world’s top universities. Universities contributing to the Black Men’s Health Challenge include:</p>

	<br/>
	<ul class="list-style-disc">
		<li><p>John’s Hopkins University</p></li>
		<li><p>George Washington University</p></li>
		<li><p>Other schools to be included</p></li>
	</ul>

	<!-- Dr. LaVeist Bio -->
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-lg-6">
			<div class="service-item">
        <div class="row">
        	<div class="col-md-6 col-md-offset-3">
           	<img class="img-circle img-responsive headshot-circle"  src="img/team/7.jpg">
          </div>
        </div>

        <br/>

        <div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">

        		<div class="text-center">

	            <h4>Dr. Thomas LaVeist</h4>
	            <h5>College/University</h5>
	            <p>Area of Speciality/Focus</p>

	            <hr/>

              <p>[Bio forthcoming]</p>
            </div>

            
          </div>
        </div>
      </div>
    </div>

    <!-- Dr. Thorpe Bio -->
    <div class="col-xs-12 col-sm-6 col-lg-6">
			<div class="service-item">
        
        <div class="row">
        	<div class="col-md-6 col-md-offset-3">
           	<img class="img-circle img-responsive headshot-circle" src="img/team/4.jpg">
          </div>
        </div>

        <br/>

        <div class="row">
        	<div class="col-md-12 col-sm-12 col-xs-12">

            <div class="text-center">
            	<h4>Dr. Roland Thorpe</h4>
	            <h5>College/University</h5>
	            <p>Area of Speciality/Focus</p>

	            <hr/>


              <p>[Bio forthcoming]</p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- LINKS FOR ARTICLES -->
<div class="portfolio team">

	<div class="col-xs-12 col-sm-6 col-lg-6">

		<a href="img/gallery-1.jpg" title="My Caption 1" class="swipebox">

		<div class="large-square">

			<div class="hover-info">
        <h4>colleagues</h4>
        <!-- <span class="date-info">14.05.2016</span> -->
      </div>    

		</div>

		</a>

	</div>

	<div class="col-xs-12 col-sm-6 col-lg-6">

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-2.jpg" title="My Caption 2" class="swipebox">

				<div class="small-square">

					<div class="hover-info">
            <h4>Collaboroator</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>
			  </div>
			</a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-3.jpg" title="My Caption 3" class="swipebox">

				<div class="small-square second">

					<div class="hover-info">
            <h4>Partner</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
        	</div>

			  </div>

		  </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-4.jpg" title="My Caption 4" class="swipebox">

			<div class="small-square third">

				<div class="hover-info">
		            <h4>Inspiration</h4>
		            <!-- <span class="date-info">14.05.2016</span> -->
		        </div>

		    </div>

		    </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-5.jpg" title="My Caption 5" class="swipebox">

				<div class="small-square fourth">

					<div class="hover-info">
            <h4>Thought Leader</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>

		   	</div>

		  </a>

		</div>

	</div>
</div>

<!-- JOHNS HOPKINS INFO -->
<div class="inner-content bgcolor-white" id="services-content">

	<h2 class="text-primary upper">Our Parnters</h1>
	<hr/>
	<a class="btn btn-primary btn-lg">Learn how you can become a partner</a>
	<a class="btn btn-primary btn-lg">Support Us</a>

	<div class="separator"></div>

	<div class="row">
		
		<img src="img/logos/1.jpg" class="col-md-3"/>
		
		<img src="img/logos/2.jpg" class="col-md-3"/>

		<img src="img/logos/3.jpg" class="col-md-3"/>

		<img src="img/logos/4.jpg" class="col-md-3"/>

	</div>
</div>