<div id="main-about">
	<div class="item-title" style="padding: 23%;">

		<h1 class="cd-headline letters" style="font-size: 130px; line-height: 110px;">
			RISE<br/> UP
		</h1>
		<div style="font-size: 20px; whitespace: wrap; margin-top: 20px; line-height: 36px; font-weight: normal; text-align: center !important;">
			<div class="" style="font-size: 20px; whitespace: wrap; margin-top: 20px; line-height: 26px; font-weight: normal; text-align: center !important; color: white; text-shadow: 1px -1px 0 #555;">
				A first-of-its-kind call for Black men across the nation to come together and make a bold statement that we value our personal health and the health of our community.
				<br/>
			</div>
		</div>

		<br/>
		<div class="row">
			<div class="col-md-6">
				<a class="btn btn-primary btn-lg pull-right">
					I’M READY TO RISE UP
				</a>
			</div>
			<div class="col-md-6">
				<a class="btn btn-primary btn-lg pull-left">
					SEND A MESSAGE TODAY
				</a>
			</div>
		</div>

		<br/>
		<br/>

		<!--  <h6 class="cd-headline letters" style="color: #ccc; margin-bottom: 0; word-spacing: 3px; text-transform: uppercase; font-weight: normal; font-size: 16px;">
		 	Our message is simple: 
		 </h6> -->

		<!-- <h1 class="cd-headline letters">
			<div class="cd-words-wrapper">
				<div style="font-size: 20px; whitespace: wrap; margin-top: 20px; line-height: 36px; font-weight: normal; text-align: center !important;">

				 <span style="font-weight: bold; font-size: 90%; text-align: center;">
         	WE <span class="large">MATTER</span> and <span class="large">NEED</span> TO BE HEALTHY TO LEAD OUR <span class="large">FAMILIES</span> AND
        	<span class="large">COMMUNITIES</span>. 
        </span>
      </div>
		</h1> -->
	</div>
</div>



<div class="inner-content" id="about-content">
	<div class="separator"></div>
	<h3 class="text-center">Will you rise to the challenge with us?</h2>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-12">
			<p class="lead">The collective health of Black men in America has never before been a priority in the medical community. Let’s be honest, far too often it hasn’t been a priority for us. Our wives make our doctor’s appointments, our kids have to force us to get that checked out, and our friends think something is wrong when we take preventative health measures. Simply put, in medical communities, we have become an invisible people, an afterthought for doctors and researchers. At the same time, millions of us have failed to take ownership of our health. Starting today, that’s all changing.</p>
		</div>

		<div class="col-xs-12 col-sm-12 col-lg-12">
			<p class="lead">The Rise Up campaign is YOUR opportunity to contribute insight and invaluable data to the largest study on Black Men’s health to ever be conducted. Findings from this study will directly lead to improved health outcomes across our community and even greater life expectancies. 20 minutes is all is takes. Can you think of anything that’s more important? Here’s how to take action now.</p>
		</div>
	</div>

	<div class="row" style="margin-top: -50px;">
		<div class="col-md-6">
			<a class="btn btn-warning btn-lg pull-right">
				complete the survey
			</a>
		</div>
		<div class="col-md-6">
			<a class="btn btn-warning btn-lg pull-left">
				challenge 5 people
			</a>
		</div>
	</div>
</div>

<div class="portfolio home-stories">

	<div class="col-xs-12 col-sm-6 col-lg-6">

		<a href="img/gallery-1.jpg" title="My Caption 1" class="swipebox">

		<div class="large-square">

			<div class="hover-info">
        <h4>Take the challenge</h4>
        <!-- <span class="date-info">14.05.2016</span> -->
      </div>    

		</div>

		</a>

	</div>

	<div class="col-xs-12 col-sm-6 col-lg-6">

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-2.jpg" title="My Caption 2" class="swipebox">

				<div class="small-square">

					<div class="hover-info">
            <h4>own your health</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>
			  </div>
			</a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-3.jpg" title="My Caption 3" class="swipebox">

				<div class="small-square second">

					<div class="hover-info">
            <h4>be the example</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
        	</div>

			  </div>

		  </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-5.jpg" title="My Caption 4" class="swipebox">

				<div class="small-square third">

					<div class="hover-info">
            <h4>break the cycle</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
			    </div>

		    </div>

	    </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/stock/14.jpg" title="My Caption 5" class="swipebox">

				<div class="small-square fourth" style="background: url(img/stock/14.jpg); background-size: cover;">

					<div class="hover-info">
            <h4>be the example</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>

		   	</div>

		  </a>

		</div>

	</div>
					</div>


