<div class="portfolio home-hero" style="height: 700px;">
	<div class="col-xs-12 col-sm-12 col-lg-12">

		<a href="img/gallery-1.jpg" title="My Caption 1" class="swipebox">

		<div class="large-square">

			<div class="hover-info" style="padding-left: 100px; bottom: 100px;">
        <h4 style="font-size: 16x; line-height: 22px !important; text-transform: none !important; text-align: left; width: 70%;">
        	<span style="font-size: 60px; text-transform: uppercase;">
        		Rise Up</span>
          <br/>
          <br/>

          <span style="line-height: 36px; font-size: 24px;">A first-of-its-kind call for Black men across the nation to come together and make a bold statement that we value our personal health and the health of our community. Our message is simple: 
          </span>
           WE MATTER and NEED TO BE HEALTHY TO LEAD OUR FAMILIES AND
          COMMUNITIES. Will you rise to the challenge with us?
          <a class="btn btn-lg">I’M READY TO RISE UP</a>
          <a class="btn btn-lg">Send a Message Today</a>

        </h4>


        <span class="date-info"></span>
      </div>    

		</div>

		</a>

	</div>
</div>