<div class="inner-content no-padding">
	<div style="position: relative; height: 650px;">
		<div class="overlay overlay-dark"></div>
		<div style="background: url(img/stock/h-5.jpg); background-size: cover; height: 650px;">
			<div class="caption">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2" style="z-index: 9999;">
						<div class="center">
							<img src="img/logo-dark.png" height="175" class="img-rounded"/>
						</div>

						<p class="lead text-center" style="font-size: 36px; line-height: 38px; font-weight: 500;">
							The largest study on Black Men’s <br/>health ever conducted.
						</p>

						<br/>

						<div class="row">
							<div class="col-md-6" style="border-right: 1px solid #666;">
								<h2 class="no-margin text-white">20 minutes</h2>
							</div>
							<div class="col-md-6">
								<p class="sub-title text-muted no-margin">Can you think of anything that’s more important than your health?</p>
							</div>
						</div>
					</div>
				</div>

				<br/>
				<br/>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2">
						<div class="col-md-6">
							<a class="btn btn-primary btn-lg center btn-block" style="background: rgba(39, 170, 225, .75); border: 2px solid #3eb3e4; font-size: 18px; word-spacing: 2px;">
								Take the Survey
							</a>
						</div>
						<div class="col-xs-6 hidden-xs">
							<a class="btn btn-transparent btn-lg center btn-block">
								Take the Challenge
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="position: relative;">
		<div class="center">
			<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
				take the challenge
			</h2>
		</div>
		
		<br/><hr/>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
				<h2 style="font-size: 32px; line-height: 38px; margin-top: 5px;">
					Why is this study <br/>so important?
				</h1>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
				<p class="lead">The collective health of Black men in America has never before been a priority in the medical community. Let’s be honest, far too often it hasn’t been. <a href="#" class="text-primary bold"> Learn more.</a></p>
			</div>
		</div>
		<hr/><br/><br/>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div style="padding: 0 40px 0 0px; border-right: 1px solid #eee;">
					<h2 style="margin: 0 0 10px 0; text-align: center; font-size: 24px; font-weight: 100; color: #08c; letter-spacing: 1px;">STEP 1</h2>
					<h3 class="text-center" style="font-size: 22px; line-height: 32px;">
						Complete the Survey
					</h3>
					<img src="img/stock/s-1.jpg" class="img-responsive img-circle">
					<p class="lead text-center">This historic effort to better understand the health.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div style="padding: 0 40px 0 0px; border-right: 1px solid #eee;">
					<h2 style="margin: 0 0 10px 0; text-align: center; font-size: 24px; font-weight: 100; color: #08c; letter-spacing: 1px;">STEP 2</h2>
					<h3 class="text-center" style="font-size: 22px; line-height: 32px;">
						Take the Challenge
					</h3>
					<img src="img/stock/s-2.jpg" class="img-responsive img-circle">
					<p class="lead text-center">This historic effort to better understand the health.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
				<div style="padding: 0 20px;">
					<h2 style="margin: 0 0 10px 0; text-align: center; font-size: 24px; font-weight: 100; color: #08c; letter-spacing: 1px;">STEP 3</h2>
					<h3 class="text-center" style="font-size: 22px; line-height: 32px;">
						Get Involved
					</h3>
					<img src="img/stock/s-3.jpg" class="img-responsive img-circle">
					<p class="lead text-center">This historic effort to better understand the health.</p>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="inner-content no-padding" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="border-top: 5px solid #08c; margin-top: -1px; position: relative;">
		<div class="overlay"></div>
		<div style="background: url(img/stock/h-1.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="caption">
						<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
							health is a priority
						</h2>
						<h3 style="font-size: 24px; line-height: 32px;">
							As Black men, we have to make<br/> our health a priority.
						</h3>
						<p class="lead">The collective health of Black men in America has never before been a priority in the medical community. Let’s be honest, far too often it hasn’t been. </p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="col-md-6  pull-right" style="margin-top: 20%;">
								<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="img-responsive" style="opacity: .25;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="inner-content no-padding">
	<div style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px; position: relative;">
		<div class="overlay"></div>
		<div style="background: url(img/stock/h-2.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="caption">
						<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
							health is leadership
						</h2>
						<h3 style="font-size: 24px; line-height: 32px;">
							As Black men, we have to lead by <br/>example for our families.
						</h3>
						<p class="lead">Our wives make our doctor’s appointments, our kids have to force us to get that checked out, and our friends think something is wrong when we take preventative health measures.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="col-md-6  pull-right" style="margin-top: 20%;">
								<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="img-responsive" style="opacity: .25;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px; position: relative;">
		<div class="overlay"></div>
			<div style="background: url(img/stock/h-3.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="caption">
						<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
							health is a responsibility
						</h2>
						<h3 style="font-size: 24px; line-height: 32px;">
							As Black men, we have to take <br/> responsibility for our health.
						</h3>
						<p class="lead">We have become an invisible people, an afterthought for doctors and researchers. At the same time, millions of us have failed to take ownership of our health.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="col-md-6  pull-right" style="margin-top: 20%;">
								<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="img-responsive" style="opacity: .25;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
		<div style="position: relative;">
			<div class="center">
				<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
					join the movement
				</h2>
			</div>
			<br/><br/>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
					<h3 style="font-size: 24px; line-height: 32px;">
						The largest and most study of Black Men's Health in America.
					</h3>
					<p class="lead">This historic effort to better understand the health challenges facing Black men has the potential to dramatically improve health. </p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
					
					<img src="img/icons/twitter.png" width="25" height="25" style="float: right;">
					<h2 class="text-center" style="line-height: 30px; font-size: 16px; color: #08c; letter-spacing: 3px; word-spacing: 4px;">
						live twitter feed 
					</h2>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="portfolio home-stories">
	<div class="col-xs-12 col-sm-6 col-lg-6">

		<a href="img/gallery-1.jpg" title="My Caption 1" class="swipebox">

		<div class="large-square">

			<div class="hover-info">
		        <h4>Take the challenge</h4>
		        <!-- <span class="date-info">14.05.2016</span> -->
		      </div>  
		</div>

		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-6">

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-2.jpg" title="My Caption 2" class="swipebox">

				<div class="small-square">

					<div class="hover-info">
            <h4>own your health</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>
			  </div>
			</a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-3.jpg" title="My Caption 3" class="swipebox">

				<div class="small-square second">

					<div class="hover-info">
            <h4>be the example</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
        	</div>

			  </div>

		  </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-5.jpg" title="My Caption 4" class="swipebox">

				<div class="small-square third">

					<div class="hover-info">
            <h4>break the cycle</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
			    </div>

		    </div>

	    </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/stock/14.jpg" title="My Caption 5" class="swipebox">

				<div class="small-square fourth" style="background: url(img/stock/14.jpg); background-size: cover;">

					<div class="hover-info">
            <h4>be the example</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>

		   	</div>

		  </a>

		</div>
	</div>
</div>
<<<<<<< HEAD

=======
>>>>>>> origin/master

