<div id="main-about">

  <div class="item-title">

    <h1 class="cd-headline letters rotate-2">
    WE ARE

      <div class="cd-words-wrapper">

        <b class="is-visible">COMING&nbsp;SOON!</b> <!-- use the code &nbsp; to add a space between 2 words -->
        <b>MAGICIANS</b>
        <b>RESPONSIVE</b>

      </div>

    </h1>

    </div>

  </div>


<div class="portfolio home-hero" style="height: 700px;">
	<div class="col-xs-12 col-sm-12 col-lg-12">

		<a href="img/gallery-1.jpg" title="My Caption 1">
      <div class="item-title">

    <h1 class="cd-headline letters rotate-2">
    Rise Up

      <div class="cd-words-wrapper">

        <b class="is-visible">COMING&nbsp;SOON!</b> <!-- use the code &nbsp; to add a space between 2 words -->
        <b>MAGICIANS</b>
        <b>RESPONSIVE</b>

      </div>

    </h1>

  </div>

		<div class="large-square">

			  <h4 style="font-size: 16x; line-height: 22px !important; text-transform: none !important; text-align: left; width: 70%;">
        	<span style="font-size: 60px; text-transform: uppercase;">
        		Rise Up</span>
          <br/>
          <br/>

          <span class="hero-copy">A first-of-its-kind call for Black men across the nation to come together and make a bold statement that we value our personal health and the health of our community. Our message is simple: 
          </span>
           WE MATTER and NEED TO BE HEALTHY TO LEAD OUR FAMILIES AND
          COMMUNITIES. Will you rise to the challenge with us?
          <p>
            <a class="btn btn-sm">I’M READY TO RISE UP</a>
            <a class="btn btn-sm">Send a Message Today</a>
          </p>

        </h4>


        <span class="date-info"></span>
      

		</div>

		</a>

	</div>
</div>