<div class="inner-content" id="about-content">

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-lg-12">

			<h6 class="mt0 gf_oswald upper text-primary text-normal ls1">
				Join the call</h6>
			<h3>TAKE THE CHALLENGE TODAY</h3>
	
			<p>
				The collective health of Black men in America has never before been a priority in the medical
				community. Let’s be honest, far too often it hasn’t been a priority for us. Our wives make our
				doctor’s appointments, our kids have to force us to get that checked out, and our friends think
				something is wrong when we take preventative health measures. Simply put, in medical
				communities, we have become an invisible people, an afterthought for doctors and researchers.
				At the same time, millions of us have failed to take ownership of our health. Starting today, that’s
				all changing. 
			</p>
					
			<br/>

			<p>
				The Rise Up campaign is YOUR opportunity to contribute insight and invaluable data to the
				largest study on Black Men’s health to ever be conducted. Findings from this study will directly
				lead to improved health outcomes across our community and even greater life expectancies. 20
				minutes is all is takes. Can you think of anything that’s more important? Here’s how to take
				action now.
			</p>

			<div class="row">
				<div class="col-md-6">
					<a class="btn btn-primary btn-lg btn-block about-content">COMPLETE THE SURVEY</a>
				</div>
				<div class="col-md-6">
					<a class="btn btn-primary btn-lg btn-block about-content">CHALLENGE 5 PEOPLE.</a>
				</div>
			</div>
			

			<br/>
			<br/>
			<br/>
		</div>

		<!-- <div class="col-xs-12 col-sm-12 col-lg-6">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<h6 class="upper ls1 ws2 text-highlight">Follow us on Twitter</h6>
					<a class="twitter-timeline" href="https://twitter.com/kcoak" data-widget-id="700774980208885760">Tweets by @kcoak</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					<div style="position: absolute; height:100%; background: rgba(0,0,0, .5);"></div>
				</div>
			</div>
		</div> -->

	</div>
</div>					
