<div class="inner-content no-padding">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>
			<div style="background: url(img/stock/7.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

					<div class="caption">
						<img src="img/logo-dark.png" height="175" class="img-rounded"/>
						<br/>
						<br/>
						<h2 style="font-size: 16px; color: #6bc5ea;">our partners</h2>
						<h3 style="font-size: 24px; line-height: 32px;">
							The largest and most comprehensive study <br/>of Black Men's Health in America.
						</h3>
						<p class="lead">For the first time in history, a medical study will focus on a demographic previously ignored. One whose health history was inconclusive and whose future has been unpredictable. Is your organization ready to rise to the challenge? </p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
			</div>
		</div>
	</div>
</div>

<div class="inner-content" id="about-content">

	<h2 class="text-primary gf_oswald">All Partners</h2>
	<h5>Will you rise with them?</h5>
	<p>
		Your organization can join this groundbreaking effort by becoming a Rise Up campaign sponsor. Your pledge will make a bold statement about how much you value the future of Black men in America and the collective health of the entire Black community. There’s no greater opportunity than this to really make a difference.
	</p>

	<br/><br/>

	<div class="row">
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-3 col-sm-6">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
	</div>
</div>



<div id="about-content" class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="position: relative;">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				<h1 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;" class="text-center">
					we are making
				</h1>
				
				<br/><br/>

				<h3 style="font-size: 24px; line-height: 32px;">
					The largest and most study of Black Men's Health in America.
				</h3>
				<p class="lead">
					The following partners are driving change by helping others take ownership of their health. The following four companies have driven the most participants to register and complete the Survey! 
				</p>

				<h2 class="text-center text-white">Partner Leader Board</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-lg-4 text-center m-b-20">
				<div class="center">
					<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-circle img-responsive" />
				</div>
				<h2>159</h2>
				<p class="m-b-20">
					Completed Surveys
				</p>
				<br/>
				<br/>
			</div>

			<div class="col-xs-12 col-sm-12 col-lg-4 text-center m-b-20">
				<div class="center">
					<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-circle img-responsive" />
				</div>
				<h2>132</h2>
				<p class="m-b-20">
					Completed Surveys
				</p>
				<br/>
				<br/>
			</div>
			
			<div class="col-xs-12 col-sm-12 col-lg-4 text-center m-b-20">
				<div class="center">
					<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-circle img-responsive" />
				</div>
				<h2>132</h2>
				<p class="m-b-20">
					Completed Surveys
				</p>
				<br/>
				<br/>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-lg-6 text-center m-b-20">
				<div class="center">
					<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-circle img-responsive" />
				</div>
				<h1>99</h1>
				<p class="m-b-20">
					Completed Surveys
				</p>
				<br/>
				<br/>
			</div> 
			<div class="col-xs-12 col-sm-12 col-lg-6 text-center m-b-20">
				<div class="center">
					<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&
					w=300&h=300&fm=png" class="img-circle img-responsive" />
				</div>
				<h1>98</h1>
				<p class="m-b-20">
					Completed Surveys
				</p>
				<br/>
				<br/>
			</div>
		</div>
	</div>
</div>


<div class="inner-content" id="contact-content">
	<h2 class="text-white m-b-10">Get Involved</h2>
	<h5 class="muted">Join us in making history.</h5>
	<div class="separator"></div>

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-lg-12">
	
			<!-- Contact form -->
    	<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

    		<div class="row">

          <!-- Full name -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="name" class="form form-control" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Fist Name'" name="name" data-name="Name" required>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="name" class="form form-control" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" name="name" data-name="Name" required>
            </div>
          </div>

          <!-- Company -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="company" class="form form-control" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'" name="company-name" data-name="Company Name" required>
            </div>
          </div>

          <!-- Phone -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" name="email-address" data-name="Email Address" required>
            </div>
          </div>

             <!-- E-mail -->
          <div class="col-xs-12 col-sm-6 col-lg-12">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" name="email-address" data-name="Email Address" required>
            </div>
          </div>

           <!-- City -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="company" class="form form-control" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" name="company-name" data-name="Company Name" required>
            </div>
          </div>

          <!-- State -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'" name="state" data-name="state" required>
            </div>
          </div>

      	</div>	

        	<!-- Button submit -->
        	<button type="submit" id="valid-form" class="btn btn-color">Let's Build Together</button>

        </form>
        <!-- /. Contact form -->
        
        <div id="block-answer">
				<div id="answer"></div>
			</div>

		</div>

	</div>
</div>
