<div id="main-about">

	<div class="item-title" style="padding: 25%;">

		<h1 class="cd-headline letters" style="font-size: 110px; line-height: 110px;">
			RISE WITH US.
		</h1>
		<div class="hidden-xs" style="font-size: 18px; whitespace: wrap; margin-top: 20px; line-height: 26px; font-weight: normal; text-align: center !important; color: white; text-shadow: 1px -1px 0 #555;">
			For the first time in history, a medical study will focus on a demographic previously ignored. One whose health history was inconclusive and whose future has been unpredictable. Black men have represented an invisible statistic in the medical community ... <u>until now</u>.
			<br/>
		</div>
	</div>
</div>

<div class="inner-content" id="about-content">

	<h2 class="text-center text-center ">Partners & Sponsors</h2>

	<hr/>
	<p class="lead">This May, 10,000 Black men across the country will demonstrate a commitment to themselves and to their community by taking a 20-minute survey on their health status. Findings from this study will lead to improved health outcomes and a better quality of life for Black men everywhere.</p>
	<hr/>
	<br/>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-6 text-center m-b-20">
			<div class="center">
				<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-circle img-responsive" />
			</div>
			<h1>159</h1>
			<p class="m-b-20">
				Completed Surveys
			</p>
		</div>

		<div class="col-xs-12 col-sm-12 col-lg-6 text-center m-b-20">
			<div class="center">
				<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-circle img-responsive" />
			</div>
			<h1>132</h1>
			<p class="m-b-20">
				Completed Surveys
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-6 text-center m-b-20">
			<div class="center">
				<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-circle img-responsive" />
			</div>
			<h1>99</h1>
			<p class="m-b-20">
				Completed Surveys
			</p>
		</div> 
		<div class="col-xs-12 col-sm-12 col-lg-6 text-center m-b-20">
			<div class="center">
				<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&
				w=300&h=300&fm=png" class="img-circle img-responsive" />
			</div>
			<h1>98</h1>
			<p class="m-b-20">
				Completed Surveys
			</p>
		</div>
	</div>


	<br/>
	<hr/>
	<br/>
</div>

<div class="inner-content" id="about-content">



	<h2 class="text-primary gf_oswald">Our Partners</h2>
	<h5>Will you rise with them?</h5>
	<p>
		Your organization can join this groundbreaking effort by becoming a Rise Up campaign sponsor. Your pledge will make a bold statement about how much you value the future of Black men in America and the collective health of the entire Black community. There’s no greater opportunity than this to really make a difference.
	</p>

	<br/><br/>

	<div class="row">
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
	</div>

	<br/>
	<br/>

	<div class="row">
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
		<div class="col-md-2">
			<img src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=300%C3%97300&w=300&h=300&fm=png" class="img-thumbnail img-responsive">
		</div>
	</div>

</div>


<div class="inner-content" id="contact-content">



	<h2 class="text-white m-b-10">Get Involved</h2>
	<h5 class="muted">Join us in making history.</h5>
	<div class="separator"></div>

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-lg-12">
	
			<!-- Contact form -->
    	<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

    		<div class="row">

          <!-- Full name -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="name" class="form form-control" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Fist Name'" name="name" data-name="Name" required>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="name" class="form form-control" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" name="name" data-name="Name" required>
            </div>
          </div>

          <!-- Company -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="company" class="form form-control" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'" name="company-name" data-name="Company Name" required>
            </div>
          </div>

          <!-- Phone -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" name="email-address" data-name="Email Address" required>
            </div>
          </div>

             <!-- E-mail -->
          <div class="col-xs-12 col-sm-6 col-lg-12">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" name="email-address" data-name="Email Address" required>
            </div>
          </div>

           <!-- City -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="company" class="form form-control" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" name="company-name" data-name="Company Name" required>
            </div>
          </div>

          <!-- State -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'" name="state" data-name="state" required>
            </div>
          </div>

      	</div>	

        	<!-- Button submit -->
        	<button type="submit" id="valid-form" class="btn btn-color">Let's Build Together</button>

        </form>
        <!-- /. Contact form -->
        
        <div id="block-answer">
				<div id="answer"></div>
			</div>

		</div>

	</div>
</div>
