<div class="inner-content no-padding header-hero">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>
			<div style="background: url(img/stock/h-7.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

					<div class="caption">
						<br/>
						<br/>
						<h5>our partners</h5>
						<h4>Our Partners Rise to the Challenge</h4>
						<p class="lead">For the first time in history, a medical study will focus on a demographic previously ignored. One whose health history was inconclusive and whose future has been unpredictable. Is your organization ready to rise to the challenge? </p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
			</div>
		</div>
	</div>
</div>

<!-- <div class="row">
    <% User.group_count.first(2).each do |partner| %>
	<div class="col-xs-12 col-sm-12 col-lg-6 text-center m-b-20">
		<div class="center">
			<img src="<%= User.partner_photo[partner.first] %>" class="img-circle img-responsive" />
		</div>
		<h1><%= partner.last %></h1>
		<p class="m-b-20">
			Participants 
		</p>
		<br/>
		<br/>
	</div>
    <% end %>
</div> -->

<!-- <div class="row">
    <% User.group_count.drop(2).first(2).each do |partner| %>
	<div class="col-xs-12 col-sm-12 col-lg-6 text-center m-b-20">
		<div class="center">
			<img src="<%= User.partner_photo[partner.first] %>" class="img-circle img-responsive" />
		</div>
		<h1><%= partner.last %></h1>
		<p class="m-b-20">
			Participants
		</p>
		<br/>
		<br/>
	</div> 
    <% end %>
</div> -->

<div id="about-content" class="inner-content bgcolor-lightgrey" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="position: relative;">
		<div class="center">
			<h5 class="section-label">
				our supporters
			</h5>
		</div>
		
		<br/>
		<h2 class="text-center">
			Partner Leaderboard
		</h2>
		<br/>

		<table class="table xtra-padding bgcolor-white box-shadow-ccc b-rad-6 leaderboard" style="border-radius: 6px; border-top: 1px solid #eee;"> 
			<thead class="text-muted"> 
				<tr> 
					<th width="10%" class="text-center">
						<h2 class="no-margin text-center" style="font-size: 20px">
							NO
						</h2>
					</th>
					<th width="80%">
						<h2 class="muted" style="font-size: 16px;"></h2>
					</th> 
					<th width="10%">
						<h4 class="text-primary text-center no-margin" style="font-size: 16px; line-height: 20px;">
							 COMPLETED SURVEYS
						</h4>
					</th> 
				</tr> 
			</thead> 
			<tbody> 
				<tr> 
					<td class="text-center">
						<h3 style="margin-top: 20px;">1.</h2>
					</td>
					<td>
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-6">
								<img src="img/logos/partner/JHSPH.png" class="img-responsive">
							</div>
							<div class="col-lg-10 col-md-8 col-sm-6">
								<h4 class="mb5" style="font-weight: lighter; margin-top: 10px; margin-bottom: 5px;">Johns Hopkins</h4>
								<p style="font-size: 14px;">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim.<br/>
									<a href="#">Website</a>
								</p>
							</div>
						</div>
					</td> 
					<td>
						<h1 class="text-primary text-center" style="font-weight: lighter; margin-top: 15px;">0</h1>
					</td> 
				</tr>
				<tr> 
					<td class="text-center">
						<h3 style="margin-top: 20px;">2.</h2>
					</td>
					<td>
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-6">
								<img src="img/logos/partner/gwu.png" class="img-responsive">
							</div>
							<div class="col-lg-10 col-md-8 col-sm-6">
								<h4 class="mb5" style="font-weight: lighter; margin-top: 10px; margin-bottom: 5px;">George Washington University</h4>
								<p style="font-size: 14px;">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim .<br/>
									<a href="#">Website</a>
								</p>
							</div>
						</div>
					</td> 
					<td>
						<h1 class="text-primary text-center" style="font-weight: lighter; margin-top: 15px;">0</h1>
					</td> 
				</tr>
				<tr> 
					<td class="text-center">
						<h3 style="margin-top: 20px;">3.</h2>
					</td>
					<td>
						<div class="row">
							<div class="col-lg-2 col-md-4 col-sm-6">
								<img src="img/logos/partner/gwu-seal.png" class="img-responsive">
							</div>
							<div class="col-lg-10 col-md-8 col-sm-6">
								<h4 class="mb5" style="font-weight: lighter; margin-top: 10px; margin-bottom: 5px;">George Washington University</h4>
								<p style="font-size: 14px;">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaut enim .<br/>
									<a href="#">Website</a>
								</p>
							</div>
						</div>
					</td> 
					<td>
						<h1 class="text-primary text-center" style="font-weight: lighter; margin-top: 15px;">0</h1>
					</td> 
				</tr>
			</tbody> 
		</table> 
	</div>
</div>




<div class="inner-content" id="contact-content">
	<h2 class="text-white m-b-10">Get Involved</h2>
	<h5 class="muted">Join us in making history.</h5>
	<div class="separator"></div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-12">
	
			<!-- Contact form -->
    	<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

    		<div class="row">

          <!-- Full name -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="name" class="form form-control" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Fist Name'" name="name" data-name="Name" required>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="name" class="form form-control" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" name="name" data-name="Name" required>
            </div>
          </div>

          <!-- Company -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="company" class="form form-control" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'" name="company-name" data-name="Company Name" required>
            </div>
          </div>

          <!-- Phone -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" name="email-address" data-name="Email Address" required>
            </div>
          </div>

             <!-- E-mail -->
          <div class="col-xs-12 col-sm-6 col-lg-12">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" name="email-address" data-name="Email Address" required>
            </div>
          </div>

           <!-- City -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="company" class="form form-control" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" name="company-name" data-name="Company Name" required>
            </div>
          </div>

          <!-- State -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="email" id="email" class="form form-control" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'" name="state" data-name="state" required>
            </div>
          </div>
      	</div>	

      	<!-- Button submit -->
      	<button type="submit" id="valid-form" class="btn btn-color">Let's Build Together</button>
      </form>
      <!-- /. Contact form -->
        
	    <div id="block-answer">
				<div id="answer"></div>
			</div>
		</div>
	</div>
</div>
