

<div class="inner-content no-padding header-hero">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>
			<div style="background: url(img/stock/1.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="caption">
						<h5>share your story</h5>
						<h4>We rise in health</h4>
						<p class="lead">Take a minute to tell your story using our I Rise For social generator and tell the world about the people, community or movement that you live for. Upload a photo and recognize the reasons you are choosing to rise to a healthier tomorrow.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
			</div>
		</div>
	</div>
</div>





<div class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="position: relative;">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				<div style="padding: 50px 50px 5px 25px;">
					<br/><br/>
					<h2 class="text-primary" style="font-size: 34px; font-weight: bold; margin-bottom: 10px; line-height: 32px;">
						Be the example.
					</h2>
					<p class="lead mt0">Create your #RiseToTheChallenge image by following these three simple steps</p>
					<hr/>
			  		
			      	<ol style="list-style: decimal-leading-zero; margin-left: 30px; padding-left: 10px; padding-right: 40px; ">
			      		<li><h4>Fill in your info</h3></li>
			      		<li><h4>Upload you image</h3></li>
			      		<li><h4>Share and challenge your friends to participate</h3></li>
			      	</ol>
			    </div>
			</div>
			<!-- Button modal fullscreen -->
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 share">
				<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
					share your story
				</h2>
				<!-- Contact form -->
	  		<!-- Contact form -->
	  		<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form" style="background-image: url(<%= image_url("rise-layout.png")%>); background-size: cover; border-radius: 4px; background-color: rgba(0,0,0, .75); box-shadow: 1px 1px 1px #333; border: 2px solid #111; border-left-width: 4px; border-top-width: 4px;">
        	<h4 class="text-center text-white">TELL US WHO YOU RISE FOR:</h4>
        	<br/>
        	<br/>
        	<br/>
        	<br/>
        	<a href="#" data-toggle="modal" data-target="#modal-fullscreen">
	        	<div class="form-group">
	          	<input type="text" id="name" class="form form-control" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'" name="name" data-name="Name" required style="font-size: 30px; color: #fff; border-bottom: 1p solid #fff; background: transparent; text-align: center;">
	          </div>
	        </a>
          <div class="clearfix"></div>
          <!-- <h6 class="text-white"><span class="text-primary">#RisetoTHEChallenge</span> and create your own <br/>image at werisetoday.com</h6> -->
          <br/>
          <br/>
      	</form>
			</div>
		</div>
	</div>
</div>

<div class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px; padding-bottom: 50px;">
	<div style="position: relative;">
		<div class="center">
			<h5 class="section-label">
				Together We Rise
			</h5>
		</div>
		<br/><br/>
	</div>
	<h2 class="text-primary text-center" style="word-spacing: 5px; letter-spacing: 2px; font-size: 34px; font-weight: bold; margin-bottom: 10px; line-height: 32px;">
		#RISETOTHECHALLENGE COMMUNITY
	</h2>
	<div class="well bgcolor-light-grey" style="height: 1000px;">

	</div>
</div>
