<div class="inner-content no-padding">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>
			<div style="background: url(img/stock/1.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="caption">
						<h2 style="font-size: 16px; color: #6bc5ea;">share your story</h2>
						<h2 class="text-white">We rise in health</h2>
						<p class="lead">Take a minute to tell your story using our I Rise For social generator and tell the world about the people, community or movement that you live for. Upload a photo and recognize the reasons you are choosing to rise to a healthier tomorrow.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
			</div>
		</div>
	</div>
</div>


<div class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="position: relative;">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
				<div style="padding: 50px;">
					<br/><br/>
					<h3>Be The Example</h3>
					<p class="lead">Create your <a href="#" class="text-primary">#RiseToTheChallenge</a> image by following these three simple steps:</p>
			  		
			      	<ol style="list-style: decimal-leading-zero; margin-left: 40px; padding-left: 10px;">
			      		<li><h5>Fill in your info</h5></li>
			      		<li><h5>Upload you image</h5></li>
			      		<li><h5>Share and challenge your friends to participate.</h5></li>
			      	</ol>
			    </div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 share">
				<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
					share your story
				</h2>
				<!-- Contact form -->
	  		<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">
        	<h4 class="text-center text-white">TELL US WHO YOU RISE FOR:</h4>
        	<div class="form-group">
          	<input type="text" id="name" class="form form-control" placeholder="" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" name="name" data-name="Name" required>
          </div>
          <div class="clearfix"></div>
          <p>
          	<a href="#" class="btn btn-primary btn-large">UPLOAD YOUR IMAGE</a>
          </p>
      	</form>
			</div>
		</div>
	</div>
</div>



<div class="inner-content no-padding" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="border-top: 5px solid #08c; margin-top: -1px; position: relative;">
		<div class="overlay"></div>
		<div style="background: url(img/stock/h-1.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="caption">
						<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
							health is a priority
						</h2>
						<h3 style="font-size: 24px; line-height: 32px;">
							As Black men, we have to make<br/> our health a priority.
						</h3>
						<p class="lead">The collective health of Black men in America has never before been a priority in the medical community. Let’s be honest, far too often it hasn’t been. </p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="col-md-6  pull-right" style="margin-top: 20%;">
								<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="img-responsive" style="opacity: .25;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="inner-content no-padding">
	<div style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px; position: relative;">
		<div class="overlay"></div>
		<div style="background: url(img/stock/h-2.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="caption">
						<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
							health is leadership
						</h2>
						<h3 style="font-size: 24px; line-height: 32px;">
							As Black men, we have to lead by <br/>example for our families.
						</h3>
						<p class="lead">Our wives make our doctor’s appointments, our kids have to force us to get that checked out, and our friends think something is wrong when we take preventative health measures.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="col-md-6  pull-right" style="margin-top: 20%;">
								<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="img-responsive" style="opacity: .25;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px; position: relative;">
		<div class="overlay"></div>
			<div style="background: url(img/stock/h-3.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="caption">
						<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
							health is a responsibility
						</h2>
						<h3 style="font-size: 24px; line-height: 32px;">
							As Black men, we have to take <br/> responsibility for our health.
						</h3>
						<p class="lead">We have become an invisible people, an afterthought for doctors and researchers. At the same time, millions of us have failed to take ownership of our health.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="col-md-6  pull-right" style="margin-top: 20%;">
								<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="img-responsive" style="opacity: .25;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
		<div style="position: relative;">
			<div class="center">
				<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
					join the movement
				</h2>
			</div>
			<br/><br/>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
					<h3 style="font-size: 24px; line-height: 32px;">
						The largest and most study of Black Men's Health in America.
					</h3>
					<p class="lead">This historic effort to better understand the health challenges facing Black men has the potential to dramatically improve health. </p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
					
					<img src="img/icons/twitter.png" width="25" height="25" style="float: right;">
					<h2 class="text-center" style="line-height: 30px; font-size: 16px; color: #08c; letter-spacing: 3px; word-spacing: 4px;">
						live twitter feed 
					</h2>
				</div>
			</div>
		</div>
	</div>
</div>
