<div class="inner-content" id="about-content">
	<h1 class="text-success">THIS IS OUR STORY.</h1>
	<hr/>
	<br/>
	<h4 class="">Together, We Rise.</h4>
	<p>From breaking the cycle of fearing doctors’ to catching life threatening illnesses early, Black men
	of all ages around the nation are embracing personal responsibility by taking ownership of their
	health. THESE are our stories.</p>

	<p>-insert grid of stories with titles for each. (For each video, include a comment engagement CTA: Can you relate to Floyd’s story? Let us know in the comments below. Rise Up with Floyd and TAKE THE SURVEY today. Share this story with your friends. -insert social media links)</p>
</div>

<!-- portfolio stories -->
<div class="portfolio stories">

	<div class="col-xs-12 col-sm-6 col-lg-6">

		<a href="img/gallery-1.jpg" title="My Caption 1" class="swipebox">

		<div class="large-square">

			<div class="hover-info">
        <h4>exploring mental health</h4>
        <!-- <span class="date-info">14.05.2016</span> -->
      </div>    

		</div>

		</a>

	</div>

	<div class="col-xs-12 col-sm-6 col-lg-6">

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-2.jpg" title="My Caption 2" class="swipebox">

				<div class="small-square">

					<div class="hover-info">
            <h4>BEATING CANCER</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>
			  </div>
			</a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-3.jpg" title="My Caption 3" class="swipebox">

				<div class="small-square second">

					<div class="hover-info">
            <h4>EMBRACING VULNERABILITY</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
        	</div>

			  </div>

		  </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-4.jpg" title="My Caption 4" class="swipebox">

			<div class="small-square third">

				<div class="hover-info">
          <h4>GOING VEGAN</h4>
          <!-- <span class="date-info">14.05.2016</span> -->
        </div>

	    </div>

	    </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-5.jpg" title="My Caption 5" class="swipebox">

				<div class="small-square fourth">

					<div class="hover-info">
            <h4>sleeping more</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>

		   	</div>

		  </a>

		</div>

	</div>
</div>


<!-- portfolio stories -->
<div class="portfolio stories section-two">

	<div class="col-xs-12 col-sm-6 col-lg-6">

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-2.jpg" title="My Caption 2" class="swipebox">

				<div class="small-square">

					<div class="hover-info">
            <h4>leading in all ways</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>
			  </div>
			</a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-3.jpg" title="My Caption 3" class="swipebox">

				<div class="small-square second">

					<div class="hover-info">
            <h4>Knowing MY risks</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
        	</div>

			  </div>

		  </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-4.jpg" title="My Caption 4" class="swipebox">

			<div class="small-square third">

				<div class="hover-info">
          <h4>the road to recovery</h4>
          <!-- <span class="date-info">14.05.2016</span> -->
        </div>

	    </div>

	    </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-5.jpg" title="My Caption 5" class="swipebox">

				<div class="small-square fourth">

					<div class="hover-info">
            <h4>deciding to thrive</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>

		   	</div>

		  </a>

		</div>

	</div>
	<div class="col-xs-12 col-sm-6 col-lg-6">

		<a href="img/gallery-1.jpg" title="My Caption 1" class="swipebox">

		<div class="large-square">

			<div class="hover-info">
        <h4>creating a new legacy</h4>
        <!-- <span class="date-info">14.05.2016</span> -->
      </div>    

		</div>

		</a>

	</div>
</div>

<!-- portfolio stories -->
<div class="portfolio stories section-three">

	<div class="col-xs-12 col-sm-6 col-lg-6">

		<a href="img/gallery-1.jpg" title="My Caption 1" class="swipebox">

		<div class="large-square">

			<div class="hover-info">
        <h4>creating a new legacy</h4>
        <!-- <span class="date-info">14.05.2016</span> -->
      </div>    

		</div>

		</a>

	</div>

	<div class="col-xs-12 col-sm-6 col-lg-6">

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-2.jpg" title="My Caption 2" class="swipebox">

				<div class="small-square">

					<div class="hover-info">
            <h4>BEATING CANCER</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>
			  </div>
			</a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-3.jpg" title="My Caption 3" class="swipebox">

				<div class="small-square second">

					<div class="hover-info">
            <h4>getting tested</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
        	</div>

			  </div>

		  </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-4.jpg" title="My Caption 4" class="swipebox">

			<div class="small-square third">

				<div class="hover-info">
          <h4>staying std free</h4>
          <!-- <span class="date-info">14.05.2016</span> -->
        </div>

	    </div>

	    </a>

		</div>

		<div class="col-xs-12 col-sm-6 col-lg-6">

			<a href="img/gallery-5.jpg" title="My Caption 5" class="swipebox">

				<div class="small-square fourth">

					<div class="hover-info">
            <h4>for my daughters</h4>
            <!-- <span class="date-info">14.05.2016</span> -->
	        </div>

		   	</div>

		  </a>

		</div>

	</div>
</div>


<div class="inner-content" id="contact-content">

	<h2>Share your story</h2>
	<div class="separator"></div>

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-lg-8">
			<!-- Contact form -->
      <form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

    		<div class="row">
          <!-- Full name -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
            <div class="form-group">
              <input type="text" id="name" class="form form-control" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" name="name" data-name="Name" required>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- E-mail -->
          <div class="col-xs-12 col-sm-6 col-lg-6">
              <div class="form-group">
                  <input type="email" id="email" class="form form-control" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'" name="email-address" data-name="Email Address" required>
              </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-12">
              <div class="form-group">
                  <input type="text" id="subject" class="form form-control" placeholder="Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write the subject'" name="subject" data-name="Subject">
              </div>
          </div>
        </div> -->

        <div class="row">
        	<!-- Message -->
          <div class="col-xs-12 col-sm-12 col-lg-12">
              <div class="form-group">
                  <textarea id="text-area" class="form textarea form-control" placeholder="Your message here... 20 characters Min." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your message here... 20 characters Min.'" name="message" data-name="Text Area" required></textarea>
              </div>
          </div>
        </div>

      	<!-- Button submit -->
      	<button type="submit" id="valid-form" class="btn btn-color">
      		Send my Message
      	</button>

        </form>
        <!-- /. Contact form -->
                
                <div id="block-answer">
				<div id="answer"></div>
			</div>

		</div>

	</div>
</div>