
<div class="header-hero" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>
		<div style="background: url(img/stock/7.jpg); background-size: cover;">
			<div class="center">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
						<div class="caption">
							<br/>
							<br/>
							<h5>our stories</h5>
							<p class="lead">From breaking the cycle of fearing doctors’ to catching life threatening illnesses early, Black men of all ages around the nation are embracing personal responsibility by taking ownership of their health.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
			</div>
		</div>
	</div>
</div>


<div class="inner-content story no-padding" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="border-top: 5px solid #08c; margin-top: -1px; position: relative;">
		<div class="overlay"></div>
		<div style="background: url(img/stock/h-1.jpg); background-size: cover;">
			<div class="row">
				<div class="col-lg-6 col-md-10 col-sm-10">
					<div class="caption">
						<h5 class="section-label">
							health is a priority
						</h5>
						<h4>
							As Black men, we have to make our health a priority.
						</h4>
						<p class="lead">The collective health of Black men in America has never before been a priority in the medical community. Let’s be honest, far too often it hasn’t been. </p>

						<p><a class="btn btn-transparent visible-sm-* visible-xs-*">View Story</a></p>
								
					</div>
				</div>
				<div class="col-lg-offset-3 col-lg-3 hidden-xs hidden-sm" style="margin-top: 15%;">
					<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="pull-right" style="opacity: .25; height: 160px; width: 160px;">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="inner-content story no-padding">
	<div style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px; position: relative;">
		<div class="overlay"></div>
		<div style="background: url(img/stock/h-2.jpg); background-size: cover;">
			<div class="row">
				<div class="col-lg-6 col-md-10 col-sm-10">
					<div class="caption">
						<h5 class="section-label">
							health is leadership
						</h5>
						<h4>
							As Black men, we have to lead by example for our families.
						</h4>
						<p class="lead">Our wives make our doctor’s appointments, our kids have to force us to get that checked out, and our friends think something is wrong when we take preventative health measures.</p>

						<p><a class="btn btn-transparent visible-sm-* visible-xs-*">View Story</a></p>
								
					</div>
				</div>
				<div class="col-lg-offset-3 col-lg-3 hidden-xs hidden-sm" style="margin-top: 15%;">
					<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="pull-right" style="opacity: .25; height: 160px; width: 160px;">
				</div>
			</div>
		</div>
	</div>

	<div class="story" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px; position: relative;">
		<div class="overlay"></div>
			<div style="background: url(img/stock/h-3.jpg); background-size: cover;">
			<div class="row">
				<div class="col-lg-6 col-md-10 col-sm-10">
					<div class="caption">
						<h5 class="section-label">
							health is responsible
						</h5>
						<h4>
							As Black men, we have to take responsibility for our health.
						</h4>
						<p class="lead">We have become an invisible people, an afterthought for doctors and researchers. At the same time, millions of us have failed to take ownership of our health.</p>
						<p><a class="btn btn-transparent visible-sm-* visible-xs-*">View Story</a></p>
								
					</div>
				</div>
				<div class="col-lg-offset-3 col-lg-3 hidden-xs hidden-sm" style="margin-top: 15%;">
					<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="pull-right" style="opacity: .25; height: 160px; width: 160px;">
				</div>
			</div>
		</div>
	</div>
</div>


<div class="inner-content" id="contact-content">
	<br/>
	<h2>Share your story.</h2>
	<h5 class="text-muted" style="line-height: 28px;">
		Want to share your journey to accountability with us?
		Submit your story here and we may feature you!
	</h5>
	<div class="separator"></div>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-lg-12">
    	<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-lg-8">
					<!-- Contact form -->
					  <form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

						<div class="row">
				      <!-- Full name -->
				      <div class="col-xs-12 col-sm-6 col-lg-6">
				        <div class="form-group">
				          <input type="text" id="name" class="form form-control" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" name="name" data-name="Name" required>
				        </div>
				      </div>
				    </div>

		        <div class="row">
		          <!-- E-mail -->
		          <div class="col-xs-12 col-sm-6 col-lg-6">
		              <div class="form-group">
		                  <input type="email" id="email" class="form form-control" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'" name="email-address" data-name="Email Address" required>
		              </div>
		          </div>
		        </div>

		        <!-- <div class="row">
		          <div class="col-xs-12 col-sm-12 col-lg-12">
		              <div class="form-group">
		                  <input type="text" id="subject" class="form form-control" placeholder="Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write the subject'" name="subject" data-name="Subject">
		              </div>
		          </div>
		        </div> -->

			        <div class="row">
			        	<!-- Message -->
			          <div class="col-xs-12 col-sm-12 col-lg-12">
			            <div class="form-group">
			              <textarea id="text-area" class="form textarea form-control" placeholder="Your message here... 20 characters Min." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your message here... 20 characters Min.'" name="message" data-name="Text Area" required></textarea>
			            </div>
			          </div>
			        </div>

			        <button type="submit" id="valid-form" class="btn btn-color">Share Your Story</button>
			      </form>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

