<!DOCTYPE html>
<html lang="en-us" class="no-js">
	<%= render "main/partials/shared/head" %>

	<body>
		<%= render "main/partials/shared/nav" %>
		
		<section id="content-part" class="right-content">
			<%= render "main/partials/home/home" %>
		</section> <!-- CLOSE #content-part -->

	</body>

</html>
