<!DOCTYPE html>
<html lang="en-us" class="no-js">
	<%= render "main/partials/shared/head" %>

	<body>
		<%= render "main/partials/shared/nav" %>
		<section id="home-part" class="vegas-container right-home">
			<div class="overlay"></div>
		</section> <!-- CLOSE #home-part -->

		<section id="content-part" class="right-content">
			<%= render "main/partials/share/share" %>
		</section> <!-- CLOSE #content-part -->

	</body>
</html>




<!-- Social Accounts and Login
Facebook
fb.me/BlackMensHealthSurvey
-Black Men’s Health Survey
-log in from Business Manager 

Twitter
@BMHealthSurvey / BM Health Survey
-alexia@ghostnoteagency.com
-bmhs2016

Instagram
@BMHealthSurvey / Black Men’s Health Survey
-alexia@ghostnoteagency.com
-bmhs2016

YouTube 
https://www.youtube.com/channel/UCzeUzAe9h-wZoo37rEtk2oA
alexia@ghostnoteagency.com & pw

Google brand page 
https://plus.google.com/u/0/b/112120935172629748189/112120935172629748189/about
alexia@ghostnoteagency.com & pw

Google+
https://plus.google.com/u/0/b/112120935172629748189/112120935172629748189/about
alexia@ghostnoteagency.com & pw  -->