<!DOCTYPE html>
<html lang="en-us" class="no-js">
	<%= render "head" %>

	<body>
		<%= render "nav" %>
		<section id="home-part" class="vegas-container right-home">
			<div class="overlay"></div>
		</section> <!-- CLOSE #home-part -->

		<section id="content-part" class="right-content">
			<%= render "main/share" %>
		</section> <!-- CLOSE #content-part -->

	</body>


	
	<!-- Modal fullscreen -->
	<div class="modal modal-fullscreen fade" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header no-border">
	        <button type="button" class="close text-white" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	        <h4 class="modal-title" id="myModalLabel"></h4>
	      </div>
	      <div class="modal-body no-border">
	      	<div class="row">
	        	<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 share">
							<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
								share your story
							</h2>
							<!-- Contact form -->
				  		<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form" style="background: url(<%= image_url("rise-layout.png")%>); background-size: cover; border-radius: 6px;">
			        	<h4 class="text-center text-white">TELL US WHO YOU RISE FOR:</h4>
			        	<div class="form-group">
			          	<input type="text" id="name" class="form form-control" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'" name="name" data-name="Name" required style="font-size: 30px; color: #fff; border-bottom: 1p solid #fff; background: transparent; text-align: center;">
			          </div>
			          <div class="clearfix"></div>
			          <h6 class="text-white"><span class="text-primary">#RisetoTHEChallenge</span> and create your own <br/>image at werisetoday.com</h6>
			          <p>
			          	<a href="#" class="btn btn-primary btn-large">UPLOAD YOUR IMAGE</a>
			          </p>
			      	</form>
						</div>
					</div>
					<div class="clearfix"></div>
	      </div>
	      <div class="modal-footer no-border">
	        <!-- <p type="button" class="btn btn-default" data-dismiss="modal">Close</p> -->
	      </div>
	    </div>
	  </div>
	</div>

</html>




<!-- Social Accounts and Login
Facebook
fb.me/BlackMensHealthSurvey
-Black Men’s Health Survey
-log in from Business Manager 

Twitter
@BMHealthSurvey / BM Health Survey
-alexia@ghostnoteagency.com
-bmhs2016

Instagram
@BMHealthSurvey / Black Men’s Health Survey
-alexia@ghostnoteagency.com
-bmhs2016

YouTube 
https://www.youtube.com/channel/UCzeUzAe9h-wZoo37rEtk2oA
alexia@ghostnoteagency.com & pw

Google brand page 
https://plus.google.com/u/0/b/112120935172629748189/112120935172629748189/about
alexia@ghostnoteagency.com & pw

Google+
https://plus.google.com/u/0/b/112120935172629748189/112120935172629748189/about
alexia@ghostnoteagency.com & pw  -->