
<div class="header-hero relative border-top">
	<div class="overlay overlay-dark"></div>
	<div style="background: url(img/stock/7.jpg); background-size: cover;">
		<div class="center">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
					<div class="caption">
						<br/>
						<br/>
						<h5>STORIES</h5>
						<h4>OUR HEALTH. OUR STORIES.</h4>
						<p class="lead">We want to hear from Black men across this country to better understand the health challenges you've encountered and your motivations for embracing a healthier lifestyle.</p>
						<h4>STRENGTH THROUGH SHARING</h4>
						<p class="lead">The health history for Black men in America is complex and there are a variety of factors that have led to our troubled health outcomes. For some, a deep fear of hospitals and doctors has passed down through generations. Too many others cope by consuming unhealthy foods and substances. Simply put, the time has come for Black men to be better to ourselves because so many love and are counting on us.  

If you've overcome personal or family health challenges and moved forward in a new, healthy focus we encourage you to share your story. Maybe your personal journey will inspire another Black man to rise towards his healthier future. </p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
		</div>
	</div>
</div>
