
<div class="header-hero relative border-top">
	<div class="overlay overlay-dark"></div>
	<div style="background: url(img/stock/7.jpg); background-size: cover;">
		<div class="center">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="caption">
						<br/>
						<br/>
						<h5>Our Community, Our Health</h5>
						<h4>[Our Partners Rise to the Challenge]</h4>
						<p class="lead">From breaking the cycle of fearing doctors’ to catching life threatening illnesses early, Black men of all ages around the nation are embracing personal responsibility by taking ownership of their health.</p>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
		</div>
	</div>
</div>