
<div class="inner-content border-top relative">
	<div class="row">
		<h5 class="section-label">
			our story
		</h5>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
			<br/><br/><br/><br/>
			<img src="https://www.everipedia.com/static/images/placeholder-video.png" class="img-responsive box-shadow-ccc">
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
			
			<br/><br/>
			<h4>The largest and most study of Black Men's Health in America.</h4>
			<p class="lead">This historic effort to better understand the health challenges facing Black men has the potential to dramatically improve health, challenges facing. </p>
		</div>
	</div>
</div>