<div class="bg-hero border-top no-padding relative" id="contact-content">
  <div class="overlay overlay-dark"></div>
  <div style="background: url(img/campaign-photos/web-optimized/shutterstock_284522861-web.jpg); background-size: cover;">
    <div class="inner-content row">
      <div class="col-xs-10 col-xs-offset-1">
        <h2>Share your story.</h2>
        <h5 class="text-muted" style="line-height: 28px;">
          Want to share your journey to accountability with us?
          Submit your story here and we may feature you!
        </h5>
        <div class="separator"></div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-12">
            <form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-8">
                <!-- Contact form -->
                  <form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

                  <div class="row">
                    <!-- Full name -->
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                      <div class="form-group">
                        <input type="text" id="name" class="form form-control" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" name="name" data-name="Name" required>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <!-- E-mail -->
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <div class="form-group">
                            <input type="email" id="email" class="form form-control" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'" name="email-address" data-name="Email Address" required>
                        </div>
                    </div>
                  </div>

                  <!-- <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="form-group">
                            <input type="text" id="subject" class="form form-control" placeholder="Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write the subject'" name="subject" data-name="Subject">
                        </div>
                    </div>
                  </div> -->

                    <div class="row">
                      <!-- Message -->
                      <div class="col-xs-12 col-sm-12 col-lg-12">
                        <div class="form-group">
                          <textarea id="text-area" class="form textarea form-control" placeholder="Your message here... 20 characters Min." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your message here... 20 characters Min.'" name="message" data-name="Text Area" required></textarea>
                        </div>
                      </div>
                    </div>

                    <button type="submit" id="valid-form" class="btn btn-color">Share Your Story</button>
                  </form>
                </div>
              </div>
            </form>
          </div>
        </div>  	
      </div>
    </div>
  </div>
</div>
