<%= render "main/partials/stories/hero" %>
<%= render "main/partials/stories/intro_section" %>
<div id="stories-all">
<%= render "main/partials/stories/story" %>
</div>
<%= render "main/partials/stories/share_with_us" %>

