<div class="sub_header_contact_home hero">
  <div class="zindex_wrapper">
    <div id="intro_txt">
      <div class="container">
        <h1>Welcome Back</h1>
        <p>We appreciatie your participation</p>
        <br/>
        <div class="row">
	      	<%= form_tag sessions_path do %>
		      	<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
		      		<form method="post" action="assets/contact_home.php" id="contactform_home">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control form-white" id="" name="" placeholder="Email">
											<%= text_field_tag :email, class: "form-control form-white", placeholder:"Email" %>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input type="password" class="form-control form-white" id="" name="" placeholder="Password">
											<%= password_field_tag  :password, type: "password", class: "form-control form-white", placeholder:"Password" %>
										</div>
									</div>
								</div>
						  </form>
					  </div>
		      <%end%>
		    </div>
      </div>
    </div>
  </div>
</div> <!--End sub_header -->

        
