<div class="inner-content no-padding header-hero">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>
			<div style="background: url(img/stock/6.jpg); background-size: cover;">
			<div class="row header-hero">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
					<div class="caption">
						<h5>ABOUT</h5>
						<h4>The Black Men's Health Study is the largest and most comprehensive of its kind in U.S. history. </h4>
						<p class="lead">For too long, very little research and data on the health of Black men has existed. This has resulted in limited, narrow and inauthentic insights on our unique challenges from the medical community. 
<br/><br/>
The Black Men's Health Survey has the depth, scope, cultural authenticity needed to glean truly value data with the power to eventually improve health outcomes and life expectancy for generations of Black men in America.</p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
			</div>
		</div>
	</div>
</div>


<div class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="position: relative;">
		<div class="row">
			<h5 class="section-label">
				our story
			</h5>

			<div class="col-xs-12 col-sm-12" >
				<br/><br/>
        <div class="video-div">
				  <iframe class= "iframe" src="https://player.vimeo.com/video/178807193?wmode=transparent" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div>
        <div class="scroll-div"></div>
			</div>
		</div>
	</div>
</div>

<div class="inner-content no-padding border-top bg-hero">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>
		<div class="history create-history">
			<div class="row">
				<div class="col-xs-12">
					<div class="center">
						<h5 class="section-label">
							Help Us Create History
						</h5>
					</div>
					<h1 class="text-center">KEY INFO</h1>
					<br/>
					<h4 class="text-center text-white mobile-reduce-font-size" style="font-size: 20px; font-weight: normal; line-height: 28px; text-transform: capitalize;">
						The Largest And Most Comprehensive Study Of<br/>
						 Black Men's Health In American History
					</h4>
					<br/>
					<div class="row mobile-reduce-font-size">
						<div class="col-sm-12 col-md-6 text-white m-b-40 text-right">
							<br/>
							<h2 style="font-size: 16px; color: #6bc5ea;">HOW MANY PARTICIPANTS TO WE NEED?
</h2>
							<h2 class="light text-white">Min. of 10K</h2>

							<br/>

							<h2 style="font-size: 16px; color: #6bc5ea;">WHICH U.S. GEOGRAPHIES ARE ELIGIBLE?</h2>
							<h2 class="light text-white">nationwide</h1>

							<br/>

						    <!-- <h2 style="font-size: 16px; color: #6bc5ea;">how long will the study go on?</h2>
                            <h2 class="light text-white">3 Months</h1> -->
						</div>
						<div class="col-sm-12 col-md-6 text-white">
							<ol style="list-style: disc;">
								<li>
									<p class="lead text-white mt0">
										Historically, Black men in America have the poorest health outcomes of our population.
									</p>
								</li>
								<li>
									<p class="lead text-white">Little research into the unique health needs and challenge of Black men has been conducted.
									</p>
								</li>
								<li>
									<p class="lead text-white">This disparity has resulted in a range of significant gaps in education, mortality, healthcare and illness. 
									</p>
								</li>
								<li>
									<p class="lead text-white">The team behind the Black Men's Health Survey is here to do our part to change things. 
									</p>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="inner-content border-top relative padding_left_right_50px">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="center">
				<h5 class="section-label">
					Experts Behind The Survey
				</h5>
			</div>
			<br/><br/>
			<h4>Who’s leading this initiative?</h4>
			<p class="lead">The Black Men's Health Survey is driven by a coalition of Black male doctors and researchers who represent some of the leading institutions in America, including: George Washington University, Johns Hopkins University, Meharry Medical College, Vanderbilt University, Texas A&M University, Saint Louis University, and Michigan State University.</p>

			<hr/>
		</div>
	</div>

	<br/>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2 class="no-margin bold"><small>Founding</small>
			<br/> Doctors</h2>
			<hr/>
			<%= render "main/partials/about/founding_doctors" %>
		</div>
	</div>
</div>



<div class="inner-content border-top relative">
	<%= render "main/partials/about/institutions" %>
</div>
