<div class="inner-content no-padding header-hero">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>
			<div style="background: url(img/stock/6.jpg); background-size: cover;">
			<div class="row header-hero">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
					<div class="caption">
						<h5>ABOUT THE STUDY</h5>
						<h4>[The largest and most comprehensive study of Black Men's Health in America.]</h4>
						<p class="lead">This historic effort to better understand the health challenges facing Black men has the potential to dramatically improve health outcomes and life expectancy for generations. </p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
			</div>
		</div>
	</div>
</div>


<div class="inner-content" style="padding-top: 0; border-top: 5px solid #08c; margin-top: -1px;">
	<div style="position: relative;">
		<div class="row">
			<h5 class="section-label">
				our story
			</h5>

			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<br/><br/><br/><br/>
				<img src="https://www.everipedia.com/static/images/placeholder-video.png" class="img-responsive box-shadow-ccc">
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
				
				<br/><br/>
				<h4>The largest and most study of Black Men's Health in America.</h4>
				<p class="lead">This historic effort to better understand the health challenges facing Black men has the potential to dramatically improve health, challenges facing. </p>
			</div>
		</div>
	</div>
</div>

<div class="inner-content no-padding border-top bg-hero">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>
		<div class="history">
			<div class="row">
				<div class="col-xs-12">
					<div class="center">
						<h5 class="section-label">
							Help Us Create History
						</h5>
					</div>
					<h1 class="text-center">history</h1>
					<br/>
					<h4 class="text-center text-white mobile-reduce-font-size" style="font-size: 20px; font-weight: normal; line-height: 28px; text-transform: capitalize;">
						The largest and most comprehensive study of<br/>
						 Black Men's Health in America.
					</h4>
					<br/>
					<div class="row mobile-reduce-font-size">
						<div class="col-sm-12 col-md-6 text-white m-b-40 text-right">
							<br/>
							<h2 style="font-size: 16px; color: #6bc5ea;">how many participants?</h2>
							<h1 class="light">10K</h1>

							<br/>

							<h2 style="font-size: 16px; color: #6bc5ea;">what locations are eligible?</h2>
							<h2 class="light text-white">nationwide</h1>

							<br/>

							<h2 style="font-size: 16px; color: #6bc5ea;">how long will the study go on?</h2>
							<h2 class="light text-white">3 Months</h1>
						</div>
						<div class="col-sm-12 col-md-6 text-white">
							<ol style="list-style: disc;">
								<li>
									<p class="lead text-white mt0">
										Little research into the unique health needs and hurdles of Black men has been done.
									</p> 
								</li>
								<li>
									<p class="lead text-white">This disparity has resulted in significant education gaps and poor health outcomes across the community. Our aim is to change that.
									</p>
								</li>
								<li>
									<p class="lead text-white">This disparity has resulted in significant education gaps and poor health outcomes across the community.
									</p>
								</li>
								<li>
									<p class="lead text-white"> Our aim is to change that.
									</p>
								</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="inner-content border-top relative">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
			<div class="">
				<h5 class="section-label">medical leadership</h5>
				<br/><br/>
				<h4>Who’s leading this initiative?</h4>
				<p class="lead">Black men who are among the leading medical researchers in America, representing some of the world’s top universities.</p>
			</div>

			<hr/>
		</div>
	</div>

	<br/>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-md-offset-1">
			<h5>Founding Doctors</h5>
			<%= render "main/partials/about/founding_doctors" %>
			
			<br/>
			<br/>

			<h5>Suportive Doctors</h5>
			<div class="row">
				<%= render "main/partials/about/supportive_doctors" %>
			</div>
		</div>
	</div>
</div>



<div class="inner-content border-top relative">
	<%= render "main/partials/about/institutions" %>
</div>




