<div class="row">
	<div class="col-xs-12 col-sm-6 col-lg-6 m-b-20">
		<!-- <div class="bio_name_on_image absolute">
			<div class="overlay bio_name_overlay"></div>

			<div class="bio_name relative">
				Dr. Thomas Laveist
			</div>
		</div> -->

		<div class="col-sm-12 text-center no_side_padding bio_name_heading">
			<h4>Dr. Thomas Laveist</h4>
		</div>

		<%= image_tag("dr_laveist.jpg", class: "img-responsive img-rounded box-shadow-ccc") %>

		<div class="bio_more_button text-center">
			<div class="btn-group">
				<%= link_to "More about Dr. Laveist", dr_laveist_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-6 m-b-20">
		<!-- <div class="bio_name_on_image absolute">
			<div class="overlay bio_name_overlay"></div>

			<div class="bio_name relative">
				Dr. Roland Thorpe
			</div>
		</div> -->

		<div class="col-sm-12 text-center no_side_padding bio_name_heading">
			<h4>Dr. Roland Thorpe</h4>
		</div>

		<%= image_tag("dr_thorpe.jpg", class: "img-responsive img-rounded box-shadow-ccc") %>

		<div class="bio_more_button text-center">
			<div class="btn-group">
				<%= link_to "More about Dr. Thorpe", dr_thorpe_path, class: "btn btn-primary" %>
			</div>
		</div>
	</div>
</div>
