<div class="row">
	<div class="col-xs-12 col-sm-6 col-lg-6 m-b-20">
		<img src="http://static1.squarespace.com/static/525205d5e4b0b9b7feb052ad/t/525d720ee4b0967106eeb08a/1381855767609/_TIM1991.JPG" class="img-responsive img-rounded box-shadow-ccc">
	</div>
	<div class="col-xs-12 col-sm-6 col-lg-6 m-b-20">
		<img src="https://science.purdue.edu/images/Roland-Stat.JPG" class="img-responsive img-rounded box-shadow-ccc">
	</div>
</div>
