<!-- header and description -->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-md-offset-1">
		<div class="text-center">
			<div class="center">
				<h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
					Institutions
				</h2>
			</div>
			<br/>
			<h2>Supporting Institution</h4>
			<p class="lead">[This historic effort to better understand the health challenges facing Black men has the potential to dramatically improve health outcomes]</p>
		</div>
	</div>
</div>

<br/>
<br/>


<!-- logos -->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-md-offset-1">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-lg-3">
				<%= image_tag("logos/1.jpg", class: "img-responsive img-rounded box-shadow-ccc m-b-20") %>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
				<%= image_tag("logos/2.jpg", class: "img-responsive img-rounded box-shadow-ccc m-b-20") %>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
				<%= image_tag("logos/3.jpg", class: "img-responsive img-rounded box-shadow-ccc m-b-20") %>
			</div>
			<div class="col-xs-6 col-sm-6 col-lg-3">
				<%= image_tag("logos/4.jpg", class: "img-responsive img-rounded box-shadow-ccc m-b-20") %>
			</div>
		</div>
	</div>
</div>