	<!-- Modal fullscreen -->
	<div class="modal modal-fullscreen fade" id="modal-fullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body no-border">
	      	<div class="row">
	        	<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 share">
							<!-- <h2 style="font-size: 16px; color: #fff; padding: 10px 20px; background: #08c; display: inline-block; letter-spacing: 1px;">
								share your story
							</h2> -->
							<!-- Contact form -->
				  		<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form" style="background: url(<%= image_url("rise-layout.png")%>); background-size: cover; border-radius: 6px; height: 550px !important;">
			        	<h4 class="text-center text-white">TELL US WHO YOU RISE FOR:</h4>
			        	<br/>
			        	<br/>
			        	<br/><br/><br/><br/>
			        	<div class="form-group">
			          	<input type="text" id="name" class="form form-control" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'" name="name" data-name="Name" required style="font-size: 30px; color: #fff; border-bottom: 1p solid #fff; background: transparent; text-align: center;">
			          </div>
			          <div class="clearfix"></div>
			      	</form>
						</div>
					</div>
					<div class="clearfix"></div>
	      </div>
	      <div class="modal-footer no-border">
	      	<button type="button" class="close text-white" style="font-size: 100px;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	      </div>
	    </div>
	  </div>
	</div>