.table-responsive
  table.census-tbl[border="1" style="background-color:white;border:1px solid #CCC;border-collapse:collapse;"]
    caption
      em
    tr
      th[colspan="8"]
        | Proportion and Number of Black Males by Age, Education and Region of the United States*
    tr
      th.blu-bg[colspan="4"]
        |  East
      th.blu-bg[colspan="4"]
        | South
    tr
      th
      - [0, 1, 2, 0, 1, 2].each do |i|
        th
          = education[i]
    tr
      th
        = range[0].first.first
      td
        = context == "census" ? display(Cells.cell_h1v1) : display(Cells.cell_h1v1_site)
      td
        = context == "census" ? display(Cells.cell_h2v1) : display(Cells.cell_h2v1_site)
      td
        = context == "census" ? display(Cells.cell_h3v1) : display(Cells.cell_h3v1_site)
      td
        = context == "census" ? display(Cells.cell_h4v1) : display(Cells.cell_h4v1_site)
      td
        = context == "census" ? display(Cells.cell_h5v1) : display(Cells.cell_h5v1_site)
      td
        = context == "census" ? display(Cells.cell_h6v1) : display(Cells.cell_h6v1_site)
    tr
      th
        = range[1].first.first
      td
        = context == "census" ? display(Cells.cell_h1v2) : display(Cells.cell_h1v2_site)
      td
        = context == "census" ? display(Cells.cell_h2v2) : display(Cells.cell_h2v2_site)
      td
        = context == "census" ? display(Cells.cell_h3v2) : display(Cells.cell_h3v2_site)

      td
        = context == "census" ? display(Cells.cell_h4v2) : display(Cells.cell_h4v2_site)
      td
        = context == "census" ? display(Cells.cell_h5v2) : display(Cells.cell_h5v2_site)
      td
        = context == "census" ? display(Cells.cell_h6v2) : display(Cells.cell_h6v2_site)
    tr
      th
        = range[2].first.first
      td
        = context == "census" ? display(Cells.cell_h1v3) : display(Cells.cell_h1v3_site)
      td
        = context == "census" ? display(Cells.cell_h2v3) : display(Cells.cell_h2v3_site)
      td
        = context == "census" ? display(Cells.cell_h3v3) : display(Cells.cell_h3v3_site)

      td
        = context == "census" ? display(Cells.cell_h4v3) : display(Cells.cell_h4v3_site)
      td
        = context == "census" ? display(Cells.cell_h5v3) : display(Cells.cell_h5v3_site)
      td
        = context == "census" ? display(Cells.cell_h6v3) : display(Cells.cell_h6v3_site)
    tr.blu-bg[rowspan="1"]
      th[colspan="1"]
      th[colspan="3"]
        = regions[2]
      th[rowspan="1"]
      th[colspan="3"]
        = regions[3]
    tr
      th
        = range[0].first.first
      td
        = context == "census" ? display(Cells.cell_h1v4) : display(Cells.cell_h1v4_site)
      td
        = context == "census" ? display(Cells.cell_h2v4) : display(Cells.cell_h2v4_site)
      td
        = context == "census" ? display(Cells.cell_h3v4) : display(Cells.cell_h3v4_site)

      td
        = context == "census" ? display(Cells.cell_h4v4) : display(Cells.cell_h4v4)
      td
        = context == "census" ? display(Cells.cell_h5v4) : display(Cells.cell_h5v4_site)
      td
        = context == "census" ? display(Cells.cell_h6v4) : display(Cells.cell_h6v4_site)
    tr
      th
        = range[1].first.first
      td
        = context == "census" ? display(Cells.cell_h1v5) : display(Cells.cell_h1v5_site)
      td
        = context == "census" ? display(Cells.cell_h2v5) : display(Cells.cell_h2v5_site)
      td
        = context == "census" ? display(Cells.cell_h3v5) : display(Cells.cell_h3v5_site)

      td
        = context == "census" ? display(Cells.cell_h4v5) : display(Cells.cell_h4v5_site)
      td
        = context == "census" ? display(Cells.cell_h5v5) : display(Cells.cell_h5v5_site)
      td
        = context == "census" ? display(Cells.cell_h6v5) : display(Cells.cell_h6v5_site)
    tr
      th
        = range[2].first.first
      td
        = context == "census" ? display(Cells.cell_h1v6) : display(Cells.cell_h1v6_site)
      td
        = context == "census" ? display(Cells.cell_h2v6) : display(Cells.cell_h2v6_site)
      td
        = context == "census" ? display(Cells.cell_h3v6) : display(Cells.cell_h3v6_site)

      td
        = context == "census" ? display(Cells.cell_h4v6) : display(Cells.cell_h4v6_site)
      td
        = context == "census" ? display(Cells.cell_h5v6) : display(Cells.cell_h5v6_site)
      td
        = context == "census" ? display(Cells.cell_h6v6) : display(Cells.cell_h6v6_site)
  .container
    .row.census-surveys-panel
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.status[href="/surveys/status"]
          i.pe-7s-diamond
        h3
          | Health Status
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.services[href="javascript: void(0)"]
          i.pe-7s-display2
        h3
          | Health Services
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.behavior[href="javascript: void(0)"]
          i.pe-7s-science
        h3
          | Health Behavior
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.psycho-social[href="#"]
          i.pe-7s-rocket
        h3
          | Psycho-Social Factors
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.closing[href="#"]
          i.pe-7s-target
        h3
          | Closing
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.status[href="/surveys/status"]
          i.pe-7s-diamond
        h3
          | Health Status
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.services[href="javascript: void(0)"]
          i.pe-7s-display2
        h3
          | Health Services
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.behavior[href="javascript: void(0)"]
          i.pe-7s-science
        h3
          | Health Behavior
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.psycho-social[href="#"]
          i.pe-7s-rocket
        h3
          | Psycho-Social Factors
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.closing[href="#"]
          i.pe-7s-target
        h3
          | Closing
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.status[href="/surveys/status"]
          i.pe-7s-diamond
        h3
          | Health Status
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.services[href="javascript: void(0)"]
          i.pe-7s-display2
        h3
          | Health Services
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.behavior[href="javascript: void(0)"]
          i.pe-7s-science
        h3
          | Health Behavior
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.psycho-social[href="#"]
          i.pe-7s-rocket
        h3
          | Psycho-Social Factors
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.closing[href="#"]
          i.pe-7s-target
        h3
          | Closing
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.status[href="/surveys/status"]
          i.pe-7s-diamond
        h3
          | Health Status
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.services[href="javascript: void(0)"]
          i.pe-7s-display2
        h3
          | Health Services
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.behavior[href="javascript: void(0)"]
          i.pe-7s-science
        h3
          | Health Behavior
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.psycho-social[href="#"]
          i.pe-7s-rocket
        h3
          | Psycho-Social Factors
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.
      .col-lg-3.col-md-3.col-sm-4.col-xs-6
        a.box_feat.closing[href="#"]
          i.pe-7s-target
        h3
          | Closing
        span.completed
        p
          | Id mea congue dictas, nec et summo mazim impedit. Vim te audiam impetus interpretaris, cum no alii option.