
<div class="container">
<h2>Minimum Criteria</h3>

<% User.cell_names.each do |cell| %>

    <p class="wht-bg"><%= number_comparison(cell) %></p>

<% end %>

<h2>Balanced Study</h3>

<% User.cell_names.each do |cell| %>

    <p class="wht-bg"><%= percent_comparison(cell) %></p>

<% end %>
</div>
