User Groups





<h3>Minimum Criteria</h3>

<% User.cell_names.each do |cell| %>

<%= number_comparison(cell) %></br>

<% end %>

<h3>Balanced Study</h3>

<% User.cell_names.each do |cell| %>

<%= percent_comparison(cell) %></br>

<% end %>
