<h3>User Groups</h3>

<% User.group_count.each do |k,v| %>

<%= k %>: <%= v %></br>

<% end %>





<h3>Minimum Criteria</h3>

<% User.cell_names.each do |cell| %>

<%= number_comparison(cell) %></br>

<% end %>

<h3>Balanced Study</h3>

<% User.cell_names.each do |cell| %>

<%= percent_comparison(cell) %></br>

<% end %>
