<div class="header-hero inner-content" id="about-content">

	<h1 class="text-primary">CONNECT WITH US</h1>
	<hr/>
	<br/>
	<div class="separator"></div>

	
	<div class="row">

		<div class="col-xs-12 col-sm-12 col-lg-6 m-b-10">
			<h6 class="text-upper m-b-10">Have questions about our study?</h6>
			<p>Our team of medical doctors and researchers would love to hear from you. Feel free to reach out using the contact form below or email us directly at ask@weriseup.com.</p>
			<br/>
		</div>

		<div class="col-xs-12 col-sm-12 col-lg-6 m-b-10">
			<h6 class="text-upper m-b-10">Join the Conversation</h6>
			<p>Thousands of Black men across America are rising up and taking ownership of their personal health. Follow their journey online:</p>
	 		<br/>

	 		<div class="row">
				<div class="col-lg-6 col-md-8 col-sm-12">
					<div class="row">
				
						<img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-circle-128.png" class="col-xs-4 img-responsive"/>
						
						<img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-twitter-circle-128.png" class="col-xs-4 img-responsive"/>

						<img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-fac
						ebook-circle-128.png" class="col-xs-4 img-responsive"/>
					</div>
				</div>

			</div>
			<br/>
		</div>	

	</div>
</div>

<div class="inner-content" id="contact-content">

	<h2>Say hello.</h2>
	<div class="separator"></div>

	<div class="row">

		<div class="col-xs-12 col-sm-12 col-lg-4">

			<div class="contact-item">

				<h6><i class="icon ion-ios-location"></i> Main address</h6>

				<p>
					<a href="https://goo.gl/maps/2eF6Z" target="_blank">
					<strong>Washington DC, USA</strong></a>
				</p>

			</div>

			<div class="contact-item">

				<h6><i class="icon ion-ios-telephone"></i> Call us</h6>
				
				<p>
					<strong><a href="tel:+661254611">(+202) 555-5555</a></strong><br>
					<strong><a href="tel:+665628146">(+202) 555-5555</a></strong>
				</p>

			</div>

			<div class="contact-item">

				<h6><i class="icon ion-paper-airplane"></i> Write us</h6>

				<p>
					<strong><a href="mailto:moet@exemple.com">hello@weriseup.com</a></strong><br>
					<strong><a href="mailto:moet@exemple.com">press@weriseup.com</a></strong>
				</p>

			</div>
		
		</div>

		<div class="col-xs-12 col-sm-12 col-lg-8">
	
			<!-- Contact form -->
	  	<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">
	  		<div class="row">
	        <!-- Full name -->
	        <div class="col-xs-12 col-sm-6 col-lg-6">
	          <div class="form-group">
	            <input type="text" id="name" class="form form-control" placeholder="Your Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'" name="name" data-name="Name" required>
	          </div>
	        </div>

	        <!-- E-mail -->
	        <div class="col-xs-12 col-sm-6 col-lg-6">
	          <div class="form-group">
	            <input type="email" id="email" class="form form-control" placeholder="Your Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email'" name="email-address" data-name="Email Address" required>
	          </div>
	        </div>

	        <!-- Subject -->
	        <div class="col-xs-12 col-sm-12 col-lg-12">
	          <div class="form-group">
	            <input type="text" id="subject" class="form form-control" placeholder="Write the subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write the subject'" name="subject" data-name="Subject">
	          </div>
	        </div>

	        <!-- Message -->
	        <div class="col-xs-12 col-sm-12 col-lg-12">
	          <div class="form-group">
	           	<textarea id="text-area" class="form textarea form-control" placeholder="Your message here... 20 characters Min." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your message here... 20 characters Min.'" name="message" data-name="Text Area" required></textarea>
	          </div>
	        </div>
	    	</div>

	    	<!-- Button submit -->
	    	<button type="submit" id="valid-form" class="btn btn-color">Send my Message</button>
	    </form>
	    <!-- /. Contact form -->
                
      <div id="block-answer">
				<div id="answer"></div>
			</div>

		</div>

	</div>
</div>