<footer>
  <div class="container">
    <div class="row ">
      <div class="col-md-3 col-sm-3">
        <p id="logo_footer">
          <img src="img/logo.png" width="125" height="40" alt="Atena" data-retina="true">
        </p>
      </div>
      <div class="col-md-3 col-sm-3">
        <h4>About</h4>
        <ul>
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Register</a></li>
          <li><a href="#">Terms and condition</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Contact us</h4>
        <ul>
          <li><a href="#">Contacts</a></li>
          <li><a href="#">Become a Corporate Partner</a></li>
        </ul>
        <ul id="contacts_footer">
          <li>Info line - <a href="tel://5555555555">+1 202 555-5555</a></li>
          <li>Email - <a href="#">help@bmhstudy.com</a> / <a href="#">press@bmhstudy.com</a></li>
        </ul>
      </div>
    </div><!-- End row -->
  </div><!-- End container -->
</footer><!-- End footer -->
<div id="copy">
  <div class="container">
    © Black Men's Health Project 2016 - All rights reserved.
  </div>
</div><!-- End copy -->