<div class="modal fade " id="cropModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">crop your image</h4>
      </div>
      <div class="modal-body">
        <img id="Image1" src="" alt="" style="display: none" />
        <canvas id="canvas" height="5" width="5"></canvas>
      </div>
      <div class="modal-footer">
        <input type="button" id="btnCrop" value="Crop" style="display: none" />
        <button type="button" id="btnOk" style="display: none">Submit</button>
        <!--<button type="button" id="btnOk" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->