<div class="modal fade " id="cropModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">crop your image</h4>
      </div>
      <div class="modal-body">
        <img id="Image1" src="" alt="" style="display: none" />
        <!--<canvas id="canvas" height="5" width="5"></canvas>-->
        <!--<table border="0" cellpadding="0" cellspacing="5">-->
          <!--<tr>-->
            <!--<td>-->
              <!--<img id="Image1" src="" alt="" style="display: none" />-->
            <!--</td>-->
            <!--<td>-->
              <!--<canvas id="crop-canvas" height="100" width="100">Your browser does not support the HTML5 canvas tag.</canvas>-->
            <!--</td>-->
          <!--</tr>-->
        <!--</table>-->
      <!--</div>-->
      <div class="modal-footer">
        <input type="button" id="btnCrop" value="Crop" style="display: none" />
        <!--<button type="button" id="btnCrop" value="Crop" data-dismiss="modal" style="display: none">Submit</button>-->
        <button type="button" id="btnOk" data-dismiss="modal" style="display: none">Submit</button>
        <!--<input type="button" id="btnOk" style="display: none" />-->
        <!--<button type="button" id="btnOk" class="btn btn-default" data-dismiss="modal">Cancel</button>-->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>