<div class="inner-content no-padding header-hero">
	<div class="overlay overlay-dark"></div>
	<div class="background" style="background: url(img/stock/1.jpg); background-size: cover;">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9">
				<div class="caption">
					<h5>share your story</h5>
					<h4>We rise in health</h4>
					<p class="lead">Take a minute to tell your story using our I Rise For social generator and tell the world about the people, community or movement that you live for.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
		</div>
	</div>
</div>