<div class="inner-content border-top relative">
	<div class="center">
		<h5 class="section-label">
			share your story
		</h5>
	</div>
	<%= render "main/partials/share/steps" %>
</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 share">
		<%= render "main/partials/share/share_form" %>
	</div>
</div>


