<div class="inner-content bg-hero border-top no-padding relative">
	<div class="overlay"></div>
	<div style="background: url(img/campaign-photos/web-optimized/shutterstock_361336991-web.jpg); background-size: cover;">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12  share">
						<div class="center">
							<h5 class="section-label">Together We Rise</h5>
						</div>
					</div>
				</div>
				<br/><br/>
				<h2 class="text-white text-center">
					#RISETOTHECHALLENGE COMMUNITY
				</h2>
				<br/>
				<div class="well" style="height: 500px; background: rgba(0,0,0, .5); border-color: #111;"></div>
			</div>
		</div>
	</div>
</div>
