<div class="inner-content border-top relative share_section">
	<div class="center">
		<h5 class="section-label">
			share your story
		</h5>
	</div>
	<div class="share">
		<%= render "main/partials/share/steps" %>
	</div>
</div>
