<h4 class="text-white text-center">Upload a photo and recognize the reasons you are choosing to rise to a healthier tomorrow.</h4>
<!-- <p class="lead text-white">Create your #RiseToTheChallenge image by following these three simple steps</p> -->
<div class="row">
	<div class="col-sm-4">
    <div class="row">
      <div class="col-md-2">
        <h1 class="no-margin">1</h1>
      </div>
      <div class="col-md-10">
        <span class="text-danger bold h4" style="color: #00ccaa;">
      		Complete the form<br/>
      		<small class="text-white bold">Tell us who your rise for!</small>
        </span>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
    	<div class="col-md-2">
        <h1 class="no-margin">2</h1>
      </div>
      <div class="col-md-10">
        <span class="bold h4" style="color: #00ccaa;">
      		Upload Photo<br/>
      	</span>
      	<small class="text-white bold">Upload an image.</small>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-md-2">
        <h1 class="no-margin">3</h1>
      </div>
      <div class="col-md-10">
    		<span class="bold h4" style="color: #00ccaa;">
    			Share & Challenge<br/>
    		</span>
    		<small class="text-white bold">Get your friends to participate!</small>
      </div>
    </div>
  </div>
</div>
<hr/>


	