<br/>
<div class="row">
  <div class="col-md-12 padding_left_right_50px">
    <hr/>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-12 padding_left_right_50px">
    <h2 class="no-margin bold"><small>are you ready to</small>
      <br/>rise to the challenge?</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 padding_left_right_50px">
    <hr class="thick">
  </div>
</div>
<div class="steps">

  <div class="row">
    <div class="col-md-6 col-xs-6 no_side_padding">
      <div class="row">
        <div class="col-sm-12 step_container">
          <div class="row">
            <div class="col-md-1 col-xs-1 steps_number steps_number_1">
              <h1 class="no-margin text-primary">1</h1>
            </div>
            <div class="col-md-10 col-xs-10 steps_text">
              <h4 class="bold">Tell us who <br/> you rise for?</h4>
              <div class="form-group">
                <div class="col-sm-12">
                  <input class="form-control" placeholder=""/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-xs-10">
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 step_container">
          <div class="row">
          	<div class="col-md-1 col-xs-1 steps_number steps_number_2">
              <h1 class="no-margin text-primary">2</h1>
            </div>
            <div class="col-md-10 col-xs-10 steps_text">
              <h4 class="bold">Upload a photo</h4>
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="file" name="pic" accept="image/*" class="form-control photo_input">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-xs-10">
          <hr/>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 step_container">
          <div class="row">
            <div class="col-md-1 col-xs-1 steps_number steps_number_3">
              <h1 class="no-margin text-primary">3</h1>
            </div>
            <div class="col-md-10 col-xs-10 steps_text">
          		<h4 class="uppercase">Share and challenge <br/> your friends!</h4>
              <div class="share_images text-left">
                <%= image_tag("icons/facebook_share.png", alt: "Facebook Share", height: "30px") %>
                <%= image_tag("icons/twitter_share.png", alt: "Twitter Share", height: "30px") %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 col-xs-10">
          <hr/>
        </div>
      </div>

    </div>

    <div class="col-md-6 col-xs-6">

      <div class="center">
        <div id="share-preview" class="inner-content no-padding header-hero relative" style="margin-top: 13px; border-radius: 4px; box-shadow: 1px 5px 10px #888;">
          <div class="overlay overlay-dark" style="border-radius: 4px;"></div>
          <div class="background" style="background: url(http://old.communityjournal.net//wp-content/uploads/2013/03/black_male_doctor-e1362501984336-2.jpg); background-size: cover; border-radius: 4px; border: 3px solid #888;">
            <div class="relative" style="background-image: url(<%=image_url('rise-layout.png')%>); background-size: contain; background-repeat: no-repeat; width: 100%; height: 360px; border-radius: 4px;">
              <div style="position: absolute;">
                <div class="caption" style="width: 100%; position: relative; top: 130px;">
                  <h2 class="text-white text-center bold" style="line-height: 50px;">
                    <small style="font-weight: 100 !important;">Cordis</small><br/>
                    Stanfield
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

	<!-- background-image: url(#{image_url('rise-layout.png')}); background-size: cover; -->
