<h4 class="text-white text-center">Upload a photo and recognize the reasons you are choosing to rise to a healthier tomorrow.</h4>
<!-- <p class="lead text-white">Create your #RiseToTheChallenge image by following these three simple steps</p> -->
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<ol class="text-white h3 bold">
  		<li>
  			<span class="text-danger" style="color: #00ccaa;">
  				Complete the form<br/>
  				<small class="text-white bold">Tell us who your rise for!</small>
  			</li>
  		<li>
  			<span class="text-danger" style="color: #00ccaa;">
  				Upload Photo<br/>
  			</span>
  			<small class="text-white bold">Upload your image using the form.</small>
  		</li>
  		<li>
  			<span class="text-danger" style="color: #00ccaa;">
  				Share and challenge<br/>
  			</span>
  			<small class="text-white bold">Get your friends to participate!</small>
  		</li>
  	</ol>
  </div>
</div>


	