<div class="inner-content bg-hero border-top no-padding relative" id="contact-content">
  <div class="overlay overlay-dark"></div>
  <div style="background: url(img/campaign-photos/web-optimized/shutterstock_284522861-web.jpg); background-size: cover;">
    <div class="row">
      <div class="inner-content">
      <div class="col-xs-10 col-xs-offset-1">
      	<h4 class="text-primary">Join us in making history.</h4>
      	<div class="separator"></div>
      	<div class="row">
      		<div class="col-xs-12 col-sm-12 col-lg-12">
      	
      			<!-- Contact form -->
          	<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

          		<div class="row">

                <!-- Full name -->
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <input type="text" id="name" class="form form-control" placeholder="First Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Fist Name'" name="name" data-name="Name" required>
                  </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <input type="text" id="name" class="form form-control" placeholder="Last Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" name="name" data-name="Name" required>
                  </div>
                </div>

                <!-- Company -->
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <input type="text" id="company" class="form form-control" placeholder="Company Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company Name'" name="company-name" data-name="Company Name" required>
                  </div>
                </div>

                <!-- Phone -->
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <input type="email" id="email" class="form form-control" placeholder="Phone Number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" name="email-address" data-name="Email Address" required>
                  </div>
                </div>

                   <!-- E-mail -->
                <div class="col-xs-12 col-sm-6 col-lg-12">
                  <div class="form-group">
                    <input type="email" id="email" class="form form-control" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" name="email-address" data-name="Email Address" required>
                  </div>
                </div>

                 <!-- City -->
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <input type="text" id="company" class="form form-control" placeholder="City" onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" name="company-name" data-name="Company Name" required>
                  </div>
                </div>

                <!-- State -->
                <div class="col-xs-12 col-sm-6 col-lg-6">
                  <div class="form-group">
                    <input type="email" id="email" class="form form-control" placeholder="State" onfocus="this.placeholder = ''" onblur="this.placeholder = 'State'" name="state" data-name="state" required>
                  </div>
                </div>
            	</div>	

            	<!-- Button submit -->
            	<button type="submit" id="valid-form" class="btn btn-color">Let's Build Together</button>
            </form>
            <!-- /. Contact form -->
              
      	    <div id="block-answer">
      				<div id="answer"></div>
      			</div>
      		</div>
      	</div>
      </div>
    </div>
  </div>
</div>
