<div class="inner-content no-padding header-hero">
	<div style="position: relative;">
		<div class="overlay overlay-dark"></div>
			<div style="background: url(img/stock/h-7.jpg); background-size: cover;">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">

					<div class="caption">
						<br/>
						<br/>
						<h5>our partners</h5>
						<h4>Our Partners Rise to the Challenge</h4>
						<p class="lead">For the first time in history, a medical study will focus on a demographic previously ignored. One whose health history was inconclusive and whose future has been unpredictable. Is your organization ready to rise to the challenge? </p>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
			</div>
		</div>
	</div>
</div>