<div class="inner-content no-padding header-hero relative">
	<div class="overlay overlay-dark"></div>
		<div style="background: url(img/stock/h-7.jpg); background-size: cover;">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-7">
				<div class="caption">
					<h5>our partners</h5>
					<h4>Our Partners Rise to the Challenge</h4>
					<p class="lead">The Black Men’s Health Study is backed by a united force of organizations and leaders set on bringing about real change. Become a partner and rise to the challenge.</p>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5"></div>
		</div>
	</div>
</div>