.inner-content.bg-hero.border-top.no-padding.relative
  .overlay.overlay-dark
  div[style="background: url(img/campaign-photos/web-optimized/shutterstock_280362422-web.jpg); background-size: cover; padding-bottom: 100px;"]
    .row
      .col-xs-10.col-xs-offset-1
        .center
          h5.section-label
            |  our supporters
        br
        h2.text-center.text-white
          |  Partner Leaderboard
        p.lead.text-white
          | Our partners are working hard to drive participation in the Black Men’s Health Survey. Take a look at our top performing partners.
        br
        table.table.xtra-padding.leaderboard.b-rad-6
          thead.text-muted
            tr
              th.no-border
                .row
                  .col-xs-7
                    h4.text-white.no-margin
                      | PARTNER
                  .col-xs-5.text-right
                    h5.text-white.no-margin
                      |  COMPLETED SURVEYS
                      i.fa.fa-check-square-o[aria-hidden="true"]
          tbody
            - @partners.each do |partner|
              tr
                td
                  .row
                    .col-lg-2.col-md-4.col-sm-4.col-xs-12
                      |  <img src="
                      = partner.logo_url
                      | " class="img-responsive">
                      br
                    .col-lg-9.col-md-7.col-sm-7.col-xs-11.mobile-text-center
                      h3
                        = partner.first_name
                    .col-xs-1
                      h2.text-primary.lighter
                        = 4