<%= render "main/partials/partners/hero" %>


<div class="inner-content border-top relative">
	<div class="center">
		<h5 class="section-label">
			rise up today
		</h5>
	</div>
	<!-- introduction -->

	<br/><hr/>
	<div class="row text-center">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2 class="no-margin bold"><small>thank you </small>
				<br/>supporting partners</h2><!-- 
				<h2 class="no-margin bold">Why is this study so important?</h2> -->
		</div>
	</div>
	<hr class="thick"/>
		<!-- introduction -->
	<div class="row">
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
		<div class="col-lg-3">
			<img src="http://cleartheairchicago.com/files/2014/06/logo-placeholder.jpg" class="img-responsive img-rounded">
		</div>
	</div>
</div>

<%= render "main/partials/partners/leaderboard" %>
<%#= render "main/partials/partners/get_involved" %>




