<%= render "main/partials/partners/hero" %>


<div class="inner-content border-top relative">
	<div class="center">
		<h5 class="section-label">
			Our Partners
		</h5>
	</div>
	<!-- introduction -->

	<br/><hr/>
	<div class="row text-center">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h2 class="no-margin bold"><small>thank you </small>
				<br/>supporting partners</h2><!-- 
				<h2 class="no-margin bold">Why is this study so important?</h2> -->
		</div>
	</div>
	<hr class="thick"/>
		<!-- introduction -->
    <% [[0,3], [4,7], [8,11],[12,15], [16,19], [20,22]].each do |set| %>
	<div class="row">
        <% User.group_count[set.first..set.last].each do |partner| %> 
		<div class="col-lg-3">
			<img src="<%= User.partner_photo[partner.first] %>" class="img-responsive img-rounded">
		</div>
        <% end %>
	</div>
    <% end %>
</div>

<%= render "main/partials/partners/leaderboard" %>
<%= render "main/partials/partners/get_involved" %>




