<div style="position: relative; width: 500px; height: 350px; background-color: silver; z-index: 0;">
          <iframe style='z-index: 0' src="https://player.vimeo.com/video/178807193?wmode=transparent" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

        </div>