form#newsletter {
  .bootstrap-tagsinput {
    text-align: left;
    height: 50px;
    line-height: 37px;
    margin-bottom: 0;
    background-color: #fff;
    border: 2px solid #ededed;
    font-size: 15px;
    padding-left: 20px;
    min-width: 380px;
    margin-top: -2px;
    margin-right: 5px;
    box-shadow: none;
    border-radius: 3px;
  }
}