<div class="home-hero home_top_image">
	<div class="caption">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-lg-6 col-lg-offset-3" style="z-index: 9999;">
				<hr class"thick"/>
                 
				<h6 class="uppercase text-white text-center ls_4">THIS IS THE LARGEST STUDY EVER CONDUCTED ON</h6>
				<h1 class="text-white text-center">
					 THE HEALTH OF BLACK MEN 
				</h1>
                <br/>
                <h6 class="uppercase text-white text-center ls_4">In America</h6>
				<hr/>
				<br/>

				<div class="row">
					<div class="col-sm-12 col-md-12 col-xlg-10 col-xlg-offset-1">
						<div class="border"></div>
						<h3 class="text-white text-center">It only takes 20 minutes to rise in health today. </h3>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12">
						<p class="sub-title lead text-center text-muted no-margin">Join thousands of Black men across the country and take a stand to improve the health of our community. </p>
					</div>
				</div>
			</div>
		</div>

		<br/>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
				<div class="col-xs-12 col-md-12 col-lg-8 col-lg-offset-2">
					<a href="/surveys" class="btn btn-primary btn-lg btn-block">
						TAKE THE SURVEY NOW
					</a><!--
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 co-lg-6">
					<a class="btn btn-transparent btn-lg btn-block">
						Take the Challenge
					</a>
				</div> -->
			</div>
		</div>
	</div>
</div>
