<div class="home-hero" style="background: url(img/stock/h-5.jpg); background-size: cover;">
	<div class="caption">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-lg-8 col-lg-offset-2" style="z-index: 9999;">
				<hr class"thick"/>
				<h6 class="uppercase text-white text-center ls_4">The largest study ever conducted on</h6>
				<h1 class="text-white text-center">
					 Black Men’s Health 
				</h1>
				<hr/>
				<br/>

				<div class="row">
					<div class="col-sm-12">
						<div class="border"></div>
						<h3 class="no-margin text-white text-center"> Take 20 minutes to take the survey </h3>
					</div>
					<div class="col-sm-12">
						<p class="sub-title lead text-center text-muted no-margin">Can you think of anything that’s more important than your health?</p>
					</div>
				</div>
			</div>
		</div>

		<br/>
		<br/>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
				<div class="col-xs-12 col-md-12 col-lg-6">
					<a class="btn btn-primary btn-lg btn-block">
						Take the Survey
					</a>
				</div>
				<div class="col-xs-12 col-md-12 col-lg-6">
					<a class="btn btn-transparent btn-lg btn-block">
						Take the Challenge
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
