<!-- steps to participate -->
<div class="row text-center steps">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-lg-4  mb20">
		<div>
			<h5>STEP 1</h5>
			<h5 class="text-white">Take the Survey</h5>
			<div class="center">
				<img src="img/stock/s-1.jpg" class="img-circle img-responsive">
			</div>
			<p class="text-center" style="font-size: 15px">Help improve health outcomes of Black men by completing the survey.</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-lg-4 mb20">
		<div>
			<h5>STEP 2</h5>
			<h5 class="text-white">#RiseToTheChallenge</h5>
			<div class="center">
				<img src="img/stock/s-2.jpg" class="img-circle img-responsive">
			</div>
			<p class="text-center" style="font-size: 15px">Create your own social graphic to share with friends and loved ones.</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-lg-4 mb20">
		<div>
			<h5>STEP 3</h5>
			<h5 class="text-white">Become a Partner</h5>
			<div class="center">
				<img src="img/stock/s-3.jpg" class="img-circle img-responsive">
			</div>
			<p class="text-center" style="font-size: 15px">Become a partner and help support this historic initiative.</p>
		</div>
	</div>
</div>