<!-- introduction -->

<br/><hr/>
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
		<h2 style="font-size: 32px; line-height: 38px; margin:0;">
			Why is this study <br/>so important?
		</h1>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
		<p class="lead no-margin">The collective health of Black men in America has never before been a priority in the medical community. Let’s be honest, far too often it hasn’t been. <a href="#" class="text-primary bold"> Learn more.</a></p>
	</div>
</div>
<hr class="thick"><br/><br/>




<!-- steps to participate -->


<div class="row text-center">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb20">
		<div style="margin-left: -20px;">
			<h5>STEP 1</h5>
			<h4>Complete the Survey</h4>
			<img src="img/stock/s-1.jpg" class="img-circle 250px">
			<p class="text-center p-l-20">Help improve health outcomes of Black men by completing the survey.</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb20">
		<div style="margin-left: -60px;">
			<h5>STEP 2</h5>
			<h4>#RiseToTheChallenge</h4>
			<img src="img/stock/s-2.jpg" class="img-circle 250px">
			<p class="text-center p-l-40">Create your own social graphic to share with friends and loved ones via social</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb20">
		<div style="margin-left: -50px;">
			<h5>STEP 3</h5>
			<h4>Get Involved</h4>
			<img src="img/stock/s-3.jpg" class="img-circle 250px">
			<p class="text-center p-l-30">Become a partner and help support this historic initiative.</p>
		</div>
	</div>
</div>