<!-- steps to participate -->
<div class="row text-center steps">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb20">
		<div style="margin-left: -20px;">
			<h5>STEP 1</h5>
			<h4>Take the Survey</h4>
			<img src="img/stock/s-1.jpg" class="img-circle 250px">
			<p class="text-center p-l-20">Help improve health outcomes of Black men by completing the survey.</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb20">
		<div style="margin-left: -60px;">
			<h5>STEP 2</h5>
			<h4 class="ml10">#RiseToTheChallenge</h4>
			<img src="img/stock/s-2.jpg" class="img-circle 250px">
			<p class="text-center p-l-40">Create your own social graphic to share with friends and loved ones via social media.</p>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 mb20">
		<div style="margin-left: -50px;">
			<h5>STEP 3</h5>
			<h4>Become a Partner</h4>
			<img src="img/stock/s-3.jpg" class="img-circle 250px">
			<p class="text-center p-l-30">Become a partner and help support this historic initiative.</p>
		</div>
	</div>
</div>