<div class="story border-top relative">
	<div class="overlay"></div>
	<div style="background: url(img/stock/h-1.jpg); background-size: cover;">
		<div class="row">
			<div class="col-lg-7 col-md-10 col-sm-10">
				<h5 class="section-label no-margin">
					health is a priority
				</h5>
				<div class="caption">
					<h4>As Black men, we have to make our health a priority.</h4>
					<p class="lead">The collective health of Black men in America has never before been a priority in the medical community. Let’s be honest, far too often it hasn’t been. </p>
					<p><a class="btn btn-transparent visible-sm-* visible-xs-*">View Story</a></p>
				</div>
			</div>
			<div class="col-lg-offset-1  col-lg-4 hidden-xs hidden-sm" style="margin-top: 15%;">
				<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="pull-right story-arrow">
			</div>
		</div>
	</div>
</div>

<div class="story border-top relative">
	<div class="overlay"></div>
	<div style="background: url(img/stock/h-2.jpg); background-size: cover;">
		<div class="row">
			<div class="col-lg-7 col-md-10 col-sm-10">
				<h5 class="section-label no-margin">
					health is leadership
				</h5>
				<div class="caption">
					<h4>As Black men, we have to lead by example for our families.</h4>
					<p class="lead">Our wives make our doctor’s appointments, our kids have to force us to get that checked out, and our friends think something is wrong when we take preventative health measures.</p>
					<p><a class="btn btn-transparent visible-sm-* visible-xs-*">View Story</a></p>
				</div>
			</div>
			<div class="col-lg-offset-1 col-lg-4 hidden-xs hidden-sm" style="margin-top: 15%;">
				<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="pull-right story-arrow">
			</div>
		</div>
	</div>
</div>

<div class="story border-top relative">
	<div class="overlay"></div>
	<div style="background: url(img/stock/h-3.jpg); background-size: cover;">
		<div class="row">
			<div class="col-lg-7 col-md-10 col-sm-10">
				<h5 class="section-label no-margin">
					health is responsible
				</h5>
				<div class="caption">
					<h4>As Black men, we have to take responsibility for our health.</h4>
					<p class="lead">We have become an invisible people, an afterthought for doctors and researchers. At the same time, millions of us have failed to take ownership of our health.</p>
					<p><a class="btn btn-transparent visible-sm-* visible-xs-*">View Story</a></p>
				</div>
			</div>
			<div class="col-lg-offset-1  col-lg-4 hidden-xs hidden-sm" style="margin-top: 15%;">
				<img src="http://www.maxapartments.co.za/wp-content/uploads/2016/02/arrow-right.png" class="pull-right story-arrow">
			</div>
		</div>
	</div>
</div>