<h2>
	<a href="https://twitter.com/intent/tweet?button_hashtag=LoveTwitter" class="twitter-hashtag-button" data-show-count="false">Tweet #LoveTwitter</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	<a class="twitter-grid" href="https://twitter.com/TwitterDev/timelines/730869773555224577">Black Men's Health Survey Tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</h2>